<div class="feedsLefBar">
      <!-- topic End -->
  
      <div class="box-2">
        <div class="row m-0">
          <div class="col-sm-12 p-0">
            <p class="followheader"> Recently Created Cubes </p>
          </div>
        </div>
  
        <!-- follow peoples List  -->
        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">lock</i>
          </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">public</i>
          </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="58px" class="text-center">
              <img class="userlistImg" src="assets/images/UserImage.png" alt="">
            </div>
            <div fxFlex>
              <p class="userlistname">
                <span> Cube Name </span>
              </p>
              <p class="userlistcategory"> Category Name </p>
              <p class="userlistfollowers"> 100 Members </p>
            </div>
            <div fxFlex="70px" class="text-center Join_Part">
                <p> Join </p>
                <i class="material-icons">lock</i>
            </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">public</i>
          </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">lock</i>
          </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="58px" class="text-center">
              <img class="userlistImg" src="assets/images/UserImage.png" alt="">
            </div>
            <div fxFlex>
              <p class="userlistname">
                <span> Cube Name </span>
              </p>
              <p class="userlistcategory"> Category Name </p>
              <p class="userlistfollowers"> 100 Members </p>
            </div>
            <div fxFlex="70px" class="text-center Join_Part">
                <p> Join </p>
                <i class="material-icons">public</i>
            </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">lock</i>
          </div>
        </div>

        <div style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="assets/images/UserImage.png" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> Cube Name </span>
            </p>
            <p class="userlistcategory"> Category Name </p>
            <p class="userlistfollowers"> 100 Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <p> Join </p>
              <i class="material-icons">public</i>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-sm-12 text-right p-0">
            <p class="viewall"> 
              <span> View All... </span>
            </p>
          </div>
        </div>
        
      </div>
      <!-- follow people  -->
    <!-- </p-scrollPanel> -->
  </div>