<div class="feedsLefBar">
      <!-- topic End -->
  
      <div class="box-2">
        <div class="row m-0">
          <div class="col-sm-12 p-0">
            <p class="followheader"> Recently Created Cubes </p>
          </div>
        </div>
  
        <!-- follow peoples List  -->
        <div  *ngFor="let item of Cubes_List | slice:0:8; let i=index" style="margin-bottom: 15px" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="58px" class="text-center">
            <img class="userlistImg" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
          </div>
          <div fxFlex>
            <p class="userlistname">
              <span> {{item.Name | slice:0:16 }}{{ item.Name?.length > 16 ? '...' : ' ' }} </span>
            </p>
            <p class="userlistcategory"> {{item.Category_Name | slice:0:15 }}{{ item.Category_Name?.length > 15 ? '...' : ' ' }} </p>
            <p class="userlistfollowers"> {{item.Members_Count }} Members </p>
          </div>
          <div fxFlex="70px" class="text-center Join_Part">
              <ng-container *ngIf="item.Security === 'Close'">
                <p (click)="JoinCodeGet(i)" > Join </p>
                <i class="material-icons">lock</i>
              </ng-container>
              <ng-container *ngIf="item.Security === 'Open'">
                  <p (click)="DirectJoin(i)"> Join </p>
                  <i class="material-icons">public</i>
                </ng-container>
          </div>
        </div>

        <div *ngIf="Cubes_List?.length > 8" class="row m-0">
          <div class="col-sm-12 text-right p-0">
            <p class="viewall"> 
              <span> View All... </span>
            </p>
          </div>
        </div>
        
      </div>
      <!-- follow people  -->
    <!-- </p-scrollPanel> -->
  </div>