<div class="feedsMain">
    <div style="position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e6e5e5 !important;
    z-index: -1;">
      </div>
      <app-feeds-header></app-feeds-header>

  <div class="feeds pt-20">

      <div fxLayout="row" fxLayoutGap="2.5%" fxLayoutAlign="center start">
          <div fxFlex="19%" fxFlex.md="22%" fxFlex.sm="22%" fxFlex.xs="22%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px;">
              <app-cubes-view-left></app-cubes-view-left>
          </div>
          <div *ngIf="View_Source === 'Topics'" fxFlex="47%" >
              <app-cubes-view-center-topics></app-cubes-view-center-topics>
          </div>
          <div *ngIf="View_Source === 'Posts'" fxFlex="47%" >
            <app-cubes-view-center-feeds></app-cubes-view-center-feeds>
        </div>
          <div fxFlex="19%" fxFlex.md="22%" fxFlex.sm="22%" fxFlex.xs="22%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px;">
              <app-feeds-right></app-feeds-right>
          </div>
      </div>

  </div>

</div> <!-- feedsMain -->