<div class="modal-body text-center">
  <h5>New privacy update</h5>
  <p style="padding: 10px;"> We have updated our privacy policy recently. You can find the details of the updated policy “<a href="http://inscube.com/Privacy" target="blanck">here</a>”. 
    <br>
    Please agree after reading to continue using our services
    <br> 
  </p>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <button type="button"  mat-raised-button style="background-color: #d8d8d8" (click)="No()" >Disagree</button>
      <button type="button" mat-raised-button color="primary" style="background-color: #d75739" (click)="Yes()" > Agree </button>
  </div>
</div>