<div class="feedsRightBar">
        <!-- UserDetails -->
        <div class="userdiv" fxLayout="column" fxLayoutAlign="start center">
            <div fxFlex="120px" class="text-center">
                <img class="userimg" src="{{UsersBaseUrl}}{{LoginUser.Image}}" alt="">
            </div>
            <div fxFlex="35px">
                <p class="username"> {{LoginUser.Inscube_Name}} </p>

            </div>
        </div>
        <!-- UserDetails End -->
        
        <div class="Left_bar_Button"> 
          <button  (click)="PostCreate_Model()"> Post </button>
          <button  [routerLink]="['/Categories']" > Discover </button>
        </div>
        
    
        <!-- Followers -->
        <div class="row">
          <div class="col-sm-12">
              <p class="headerstyle"> Member of </p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 listFlexDiv">
                <div  *ngFor="let item of Cubes_List | slice:0:8; let i=index" class="col-xs-3 followPart ">
                    <img class="followimg" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                    <p class="followname"> {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }} </p>
                </div>
            </div>
        </div>
        <div *ngIf="Cubes_List?.length > 8" class="row">
          <div class="col-sm-12 text-right">
              <p class="viewAll"> <span> View All... </span>  </p>
          </div>
        </div>
    
        <!-- Followers End  -->
    
    
        <!-- Followers -->
        <div class="row">
          <div class="col-sm-12">
              <p class="headerstyle"> My Cubes </p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 listFlexDiv">
                <div  *ngFor="let item of User_Cubes_List | slice:0:8; let i=index" class="col-xs-3 followPart ">
                    <img class="followimg" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                    <p class="followname"> {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }} </p>
                </div>
            </div>
        </div>
        <div *ngIf="User_Cubes_List?.length > 8" class="row">
            <div class="col-sm-12 text-right">
                <p class="viewAll"> <span> View All... </span>  </p>
            </div>
          </div>
        
        <!-- Followers End  -->
    
  

    </div>
    