<div class="feedsRightBar">
        <!-- UserDetails -->
        <div class="userdiv" fxLayout="column" fxLayoutAlign="start center">
            <div fxFlex="120px" class="text-center">
                <img class="userimg" src="assets/images/UserImage.png" alt="">
            </div>
            <div fxFlex="35px">
                <p class="username"> User Name </p>

            </div>
        </div>
        <!-- UserDetails End -->
        
        <div class="Left_bar_Button"> 
          <button  (click)="openConfirmDialog()"> Post </button>
          <button> Discover </button>
        </div>
        
    
        <!-- Followers -->
        <div class="row">
          <div class="col-sm-12">
              <p class="headerstyle"> Member of </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 listFlexDiv">
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
          </div>
          <div class="col-sm-12 listFlexDiv">
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
              <p class="viewAll"> <span> View All... </span>  </p>
          </div>
        </div>
    
        <!-- Followers End  -->
    
    
        <!-- Followers -->
        <div class="row">
          <div class="col-sm-12">
              <p class="headerstyle"> My Cubes </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 listFlexDiv">
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
                <div class="col-xs-3 followPart ">
                    <img class="followimg" src="assets/images/UserImage.png" alt="">
                    <p class="followname"> Cube N... </p>
                </div>
          </div>
          <div class="col-sm-12 listFlexDiv">
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
              <div class="col-xs-3 followPart ">
                  <img class="followimg" src="assets/images/UserImage.png" alt="">
                  <p class="followname"> Cube N... </p>
              </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
              <p class="viewAll"> <span> View All... </span>  </p>
          </div>
        </div>
        
        <!-- Followers End  -->
    
  

    </div>
    