<div class="Topics_list" [ngStyle]="{'height': scrollHeight }">
    <ng-scrollbar>
      <!-- <ng-container *ngIf="Topics_List?.length <= 0">
          <h5 style="width:100%; text-align: center"> Topics Are Empty!</h5>
      </ng-container> -->

      <ng-container *ngIf="Topics_List?.length <= 0 && !Loader_1">
          <div style="width: 100%; height: 200px;text-align: center;">
              <h5 style="line-height: 200px"> Topics are empty ! </h5>
          </div>
      </ng-container>
  
      <ng-container *ngIf="Loader_1">
          <div style="width: 100%; height: 200px; text-align: center">
              <img style="height: 100px; margin-top: 50px" src="assets/images/loader.gif" alt="">
          </div>
      </ng-container>


      <ng-container *ngIf="Topics_List?.length > 0 && !Loader_1">
        <div class="Topics" *ngFor="let Topic of Topics_List">
          <div class="topic_header">
            <p class="Topic_Name"> {{Topic.Name}} </p>
          </div>
          <div class="topic_body">
            <p class="topic_description"> {{Topic.Description}} </p>
          </div>
          <div class="topic_gallery">
              <ng-container *ngIf="Topic.Attachments?.length > 0">
                <ngx-carousel class="ImageGallery"
                  [inputs]="carouselBanner">
                    <ngx-item NgxCarouselItem *ngFor="let Attachment of Topic.Attachments; let n =index">
                      <div class="bannerStyle">
                          <div *ngIf="Attachment.File_Type === 'Video'" class="bannerStyle_Inner">
                            <p class="gallery_info_button"> <span> {{n + 1}} / {{Topic.Attachments?.length}} </span> </p>
                            <video src="{{TopicBaseUrl}}{{Attachment.File_Name}}" width="100%" height="400px" ></video>
                            <p class="Video_button"> <i (click)="Show_Video(VideoModal, TopicBaseUrl + Attachment.File_Name)" class="material-icons">play_circle_outline</i> </p>
                          </div>
  
                          <div *ngIf="Attachment.File_Type === 'Image'" class="bannerStyle_Inner">
                              <p class="gallery_info_button"> <span> {{n + 1}} / {{Topic.Attachments?.length}} </span> </p>
                              <div class="img_Part" [style.background]="'url(' + TopicBaseUrl + Attachment.File_Name + ')'"></div>
                              <p class="Image_button"> <i (click)="Show_Image( TopicBaseUrl + Attachment.File_Name)"  class="material-icons">fullscreen</i> </p>
                          </div>
                      </div>
                    </ngx-item>
  
                    <button NgxCarouselPrev class='leftRs'>&lt;</button>
                    <button NgxCarouselNext class='rightRs'>&gt;</button>
                </ngx-carousel>
              </ng-container>
          </div>
        </div>
      </ng-container>
      

    </ng-scrollbar>
</div>


<ng-template #VideoModal>
  <p  class="close_Mode"  (click)="modalRef.hide()"> X </p>
      <vg-player>
          <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
        
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        
              <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
        
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
        
              <vg-fullscreen></vg-fullscreen>
          </vg-controls>
        
          <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
              <source src="{{video_Url}}" type="video/{{video_Url | slice:-3}}">
          </video>
       </vg-player>
</ng-template>