.Topics_list .Topics{
    background-color: #ffffff;
    padding: 10px;
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
    margin: 3px;
    margin-bottom: 25px;
    position: relative;
}

.Topics_list .Topics .topic_header .Topic_Name{
    border-bottom: 1px solid #8888883d;
    padding-bottom: 5px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.Topics_list .Topics .topic_body .topic_description{
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}
.Topics_list .Topics .topic_gallery img{
    width: 100%;
    height: 400px;
}


.close_Mode{
    position: absolute;
    margin: 0px;
    right: -16px;
    top: -16px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    z-index: 2;
    cursor: pointer;
}
.Video_button{
    right: 0px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    line-height: 400px;
    text-align: center;
}
.Video_button i{
    color: #ffffff;
    font-size: 80px;
    background-color: #75737399;
    border-radius: 10px;
    cursor: pointer;
}
.gallery_info_button{
    position: absolute;
    right: 0px;
    font-family: fantasy;
    color: #d75739;
    background-color: #e6e5e5;
    padding: 0px 10px;
    letter-spacing: 0.5px;
}
.Image_button{
    position: absolute;
    right: 0px;
    bottom: -6px;
    margin-bottom:0px;
}

.Image_button i{
    color: #ffffff;
    font-size: 35px;
    background-color: #75737399;
    border-radius: 0px;
    cursor: pointer;
}
.postaction{
    line-height: 10px;
    font-size: 24px;
    margin: 0px;
    color: gray;
    position: absolute;
    right: 15px;
    top: 15px;
}
.postaction i{
    height: 11px;
    line-height: 11px;
    margin-bottom: 0px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 27px;
}

.dropd{
    width: 155px;
    padding: 3px 5px;
    background-color: #f3f3f3;
}

.dropd .dropd_text{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #666666a3;
    line-height: 33px;
    margin: 0px;
}

.dropd .dropd_icon i{
    color: #666666a3;
    font-size: 23px;
    margin-top: 6px;
}
.dropdarrow{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    top: -3px;
    left: 15px;
    transform: rotate(45DEG);
    z-index: -1;
}