<div style="min-width: 1200px;  position: absolute; height: 110%;width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Center Content ------------------------- -->
    <div fxFlex="80%" style="border-radius: 5px; background-color:#fff">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:5px; text-align:center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
         <div> </div>
         <div fxFlex="50%"> <img style="width: 167px; margin: 5px 0px;" src="assets/images/logo.png"> </div>
         <div> <span (click)="gotofeed()" class="button_1"> Go to feed </span> </div>
       </div>
        <hr style="margin: 3px;border-radius: 0px;">

        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="Tab" fxFlex="100%"> Join cubes around you </div>
        </div>

        <div style="max-height:550px;overflow-y: auto">
          <div class="row Cat_list">

            <div *ngFor="let item of Category_List; let i=index" class="col-sm-4 Cat_list_item" style="max-width: 33.33%;" (click)="Cube_List_Now(item._id, item.Name)">
              <div class=" Cat_list_item_parts" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="100px" class="Cat_list_item_part_1">
                  <img class="Cat_list_item_img" src="{{CategoryBaseUrl}}{{item.Image}}" alt="">
                </div>
                <div fxFlex class="Cat_list_item_part_2">
                  <h5> {{item.Name}}</h5>
                  <p> {{item.Cubes_Count}} Cubes</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
