
<div class="container-fluid">

  <br>
    <div class="row">
        <div class="col-sm-12" style="text-align:center">
            <img [routerLink]="[ '/']" style="width: 200px; margin: 5px 0px;cursor: pointer;" src="assets/images/logo.png" alt="Logo">
        </div>
    </div>
    <h5 style="text-align: center; margin: 20px 0px 30px 0px;"> Contact </h5> 
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="text-align: center">
            <p>
                <b> Reach us at </b>
            </p>
            <p>
                info@inscube.com
            </p>
        </div>
        <div class="col-sm-5">
          <form action="">
              <div class="form-group">
                <label style="margin-bottom: 0;">Name *</label>
                <input type="text" name="name"  class="form-control">
              </div>
              <div class="form-group">
                <label style="margin-bottom: 0;">Email  *</label>
                <input type="text" name="email"  class="form-control">
              </div>
              <div class="form-group">
                <label style="margin-bottom: 0;">Name *</label>
                <input type="text" name="name"  class="form-control">
              </div>
              <div class="form-group">
                <label style="margin-bottom: 0;">Subject *</label>
                <input type="text" name="subject"  class="form-control">
              </div>
              <div class="form-group">
                <label style="margin-bottom: 0;">Subject *</label>
                <textarea name="subject"  class="form-control"></textarea>
              </div>
              <button type="button" class="btn btn-default pull-right">SUBMIT</button>
          </form>
        </div>
      </div>

        
        <br>
    </div>
</div>