/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./../node_modules/font-awesome/css/font-awesome.min.css";
@import './../node_modules/primeng/resources/themes/omega/theme.css';
@import './../node_modules/primeng/resources/primeng.min.css';

@import './../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import './../node_modules/videogular2/fonts/videogular.css';
@import './../node_modules/angular2-lightbox/lightbox.css';




@import './assets/OverWriteCss/primeng_overwrite.css';
@import './assets/OverWriteCss/ngx_bootstrap_overwrite.css';
@import './assets/OverWriteCss/material_overwrite.css';
@import './assets/OverWriteCss/ngx-carousel_css_overwrite.css';


.maxWidth700{
    max-width: 700px;
    margin:1.75rem auto;
}
.maxWidth850{
    max-width: 850px;
    min-width: 850px;
    margin:1.75rem auto;
}
*:focus{
    outline: none;
}
.modal{
    min-width: 1200px !important;
    position: absolute !important;
}
.maxWidth450{
    max-width: 450px;
    margin:1.75rem auto;
}
.maxWidth400{
    max-width: 400px;
    margin:1.75rem auto ;
}
.maxWidth350{
    max-width: 350px;
    margin: 1.75rem auto;
}