<div class="modal-header">
    <h4 style="color: #d75739;font-size: 21px;" class="modal-title"> Create Your Own Social Media </h4>
    <button type="button" class="close" aria-label="Close" (click)="_bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body Create_Cube">
    <div style="margin-bottom:2px;" fxLayout="row" fxLayoutAlign="space-around start">
        <div fxFlex="110px" class="CubeImage">
            <img src="{{UsersBaseUrl}}UserImage.png" alt="" style="width: 110px;height:110px;">
            <span> <i class="material-icons">add_a_photo</i> </span>
        </div>
    </div>

    <div class="input_style_1" > 
        <input type="text" placeholder="Cube Name">
    </div>

    <div class="textarea_style_1"> 
        <textarea type="text" placeholder="Cube Description"></textarea>
    </div>

    <div *ngIf="Locatin_Input" class="input_style_1" > 
        <input type="text" placeholder=" Location">
    </div>

    <div *ngIf="Website_Input" class="input_style_1" > 
        <input type="text" placeholder="Website Address">
    </div>

    <div *ngIf="Email_Input" class="input_style_1" > 
        <input type="text" placeholder="E-mail Address">
    </div>

    <div *ngIf="Contact_Input" class="input_style_1" > 
        <input type="text" placeholder=" Cantact Number">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 20px"> 
        <div fxFlex="25%" class="Addons">
            <i class="material-icons" [ngClass]="{'active': Locatin_Input}"  (click)="View_Location_Input()" >location_on</i>
        </div>
        <div fxFlex="25%" class="Addons">
            <i class="material-icons" [ngClass]="{'active': Website_Input}"  (click)="View_Website_Input()" >language</i>
        </div>
        <div fxFlex="25%" class="Addons">
            <i class="material-icons" [ngClass]="{'active': Email_Input}"  (click)="View_Email_Input()" >mail_outline</i>
        </div>
        <div fxFlex="25%" class="Addons">
            <i class="material-icons" [ngClass]="{'active': Contact_Input}"  (click)="View_Contact_Input()" >call</i>
        </div>
    </div>
</div>

<div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="onConfirm()"> Submit & Add Topic </button> -->
    <button type="button" style="float: right;" class="btn btn-primary" (click)="onConfirm()"> Submit </button>    
</div>