<div class="LoginBackground" style="min-width:1200px; position: absolute; height: 100%; width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px;min-width:1200px;" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Left Bar ------------------------- -->
    <div style="min-width:1200px;" fxFlex="35%" style="border-radius: 5px;">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:10px; text-align:center; background-color:#fff">
        <img style="width: 167px; margin: 5px 0px;" src="assets/images/logo.png"> 
        <hr style="margin: 3px;border-radius: 0px;">
        <div class="LoginPage_Tabs" fxLayout="row" fxLayoutAlign="start start">
            <div class="Tabs" [ngClass]="{'Active': ActiveTab === 'Register' }" (click)="ActiveTabchange('Register')" fxFlex="50%"> Register </div>
            <div class="Tabs" [ngClass]="{'Active': ActiveTab === 'Login' }" (click)="ActiveTabchange('Login')" fxFlex="50%"> Login </div>
        </div>

        <!-- ----------------------- Register Tab ------------------------- -->
        <div *ngIf="ActiveTab === 'Register'" class="Register_Tab">
            <form [formGroup]="RegisterForm" (ngSubmit)="submit()">
                <h4> Are You In The Cube ? </h4>

                <input type="text" formControlName="Inscube_Name" (blur)="Check_Inscube_Name_Availabel()" placeholder="@ Inscube Name">
                <p class="error alertStyle-1 m-0" *ngIf="RegisterForm.controls.Inscube_Name.dirty &&  RegisterForm.value.Inscube_Name ==='' "> Inscube Name Is Required </p>
                <p class="error alertStyle-1 m-0" *ngIf="RegisterForm.value.Inscube_Name !== '' && Inscube_NameNotAvailabel">  Username Unavailable </p>
                <!-- <p class="textgreen alertStyle-1 m-0" *ngIf="RegisterForm.value.Inscube_Name != '' && Inscube_NameAvailabel"> '@{{Available_Ins_Name}}' is Available </p> -->

                <input type="email" formControlName="Email" (blur)="Check_Email_Availabel()" placeholder="Your Email">
                <p class="error alertStyle-1" *ngIf="RegisterForm.value.Email !== '' && EmailFormat_Error "> Invalid E-mail Format! </p>
                <p class="error alertStyle-1" *ngIf="RegisterForm.controls.Email.dirty &&  RegisterForm.value.Email === '' "> E-mail Is Required </p>
                <p class="error alertStyle-1 " *ngIf="RegisterForm.value.Email !== '' && EmailNotAvailabel">  Not Available </p>
                <!-- <p class="textgreen alertStyle-1 " *ngIf="RegisterForm.value.Email !== '' && EmailAvailabel">  Available </p> -->

                <input type="password"  formControlName="Password" (blur)="checkFormValidation()" (keypress)="checkFormValidation()" placeholder="Password">
                <p class="error alertStyle-1" *ngIf="RegisterForm.controls.Password.dirty &&  RegisterForm.value.Password === '' "> Password Is Required </p>

                <p class="style_2"> By signing up, you agree to the <span> terms of service </span> and <span> privacy policy </span> </p>
                <button type="submit" [disabled]="!Register_Form_Valid" [ngClass]="{'disabled': !Register_Form_Valid}" class="btn ptn-primary"> Register Now </button>
                <p class="style_3"> <span (click)="ActiveTabchange('Login')"> Already have an account?  </span>  </p>
                <div fxLayout="row" fxLayoutAlign="center start">
                    <a href="https://play.google.com/store/apps/details?id=com.test.aashi.inscubenewbuild" target="blanck">
                        <img fxFlex="200px" src="assets/images/playsotre.png">
                    </a> 
                </div>
            </form>
        </div>

        <!-- ----------------------- Login Tab ------------------------- -->
        <div *ngIf="ActiveTab === 'Login'" class="Login_Tab">
            <form [formGroup]="SignInForm" (ngSubmit)="LoginFormsubmit()">
                <p class="textstyle_1"> Log into your account </p>

                <input type="email" formControlName="Email" placeholder="Your Email">
                <p class="error alertStyle-1" *ngIf="SignInForm.controls.Email.dirty &&  SignInForm.value.Email === '' "> E-mail Is Required </p>

                <input type="password" formControlName="Password" placeholder="Password">
                <p class="error alertStyle-1" *ngIf="SignInForm.controls.Password.dirty &&  SignInForm.value.Password === '' "> Password Is Required </p>

                <p class="style_2"> <span> Forgot Password? </span>   </p>
                <button class="btn ptn-primary" type="submit" [ngClass]="{'disabled': SignInForm.value.Email =='' || SignInForm.value.Password =='' }" [disabled]="SignInForm.value.Email =='' || SignInForm.value.Password ==''"> Login Now </button>
                <p class="style_3"> <span (click)="ActiveTabchange('Register')"> Create New Account !!  </span> </p>
                <div fxLayout="row" fxLayoutAlign="center start">
                    <a href="https://play.google.com/store/apps/details?id=com.test.aashi.inscubenewbuild" target="blanck">
                        <img fxFlex="200px" src="assets/images/playsotre.png">
                    </a> 
                </div>
            </form>
        </div>
      </mat-card>

      <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="center start">
        <div class='LinK_Style_1' fxFlex="100px">
            <p> About </p>
        </div>
        <div class='LinK_Style_1' fxFlex="100px">
            <p> Careers </p>
        </div>
        <div class='LinK_Style_1' fxFlex="100px">
            <p> Terms </p>
        </div>
        <div class='LinK_Style_1' fxFlex="100px">
            <p> Privacy </p>
        </div>
        <div class='LinK_Style_1' fxFlex="100px">
            <p> Contact </p>
        </div>

    </div>

    </div>
  </div>
</div>
