.ui-widget-content{
    border: 0px !important;
}

p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext{
    border-color: red;
}

/* Select box style One */
    .Select_Box_Style_1 .ui-dropdown{
        height: 40px;
        line-height: 30px;
    }
    .Select_Box_Style_1 .ui-dropdown:not(.ui-state-disabled):hover{
        border-color: #dce0e0;
    }
    .Select_Box_Style_1 .ui-dropdown .ui-dropdown-trigger{
        display: none;
    }
    .Select_Box_Style_1 .ui-dropdown label.ui-dropdown-label{
        padding: 4px 10px;
    }
    .Select_Box_Style_1 .ui-inputtext.ui-state-focus, .ui-inputtext:focus{
        box-shadow: none;
    }
    .Select_Box_Style_1 .ui-dropdown-panel .ui-dropdown-list{
        padding: 0px;
    }
    .Select_Box_Style_1 .ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
      border-color: #c0c0c0;
      background: #DE593D;
      color: #ffffff;
  }
    .Select_Box_Style_1 .ui-dropdown-panel .ui-dropdown-item{
        /* height: 30px;
        line-height: 30px; */
        padding: 5px 10px;
        border-radius: 0px;
        font-size: 14px;
    }
    .Select_Box_Style_1 .ui-state-highlight {
        border-color: #d75839;
        background: #d75839;
        color: #FFFFFF;
    }
    .Select_Box_Style_1 .ui-inputtext.ui-state-focus, .ui-inputtext:focus{
        border-color: #2196f3d6 !important;
        /* box-shadow: 0px 0px 1px 1px #2196f363 !important; */
    }
    .Select_Box_Style_1 .ui-inputtext{
        font-size: 14px;
        color: #3e3e3e;
        font-weight: 500;
    }
    .Select_Box_Style_1 .ui-widget-content{
        color: #808080;
    }
    .ui-dropdown.ui-state-focus, .ui-multiselect.ui-state-focus{
        border-color: #2196f3d6 !important;
        /* box-shadow: 0px 0px 1px 1px #2196f363 !important; */
    }



    .Search_templete_Style_2 .ui-autocomplete-panel .ui-state-highlight {
        border-color: #d75839;
        background: #d75839;
        color: #FFFFFF;
    }
    .Search_templete_Style_2 .ui-autocomplete-panel .ui-autocomplete-list{
        padding: 0px;
    }
    .Search_templete_Style_2 .ui-autocomplete-panel .ui-autocomplete-list-item{
        padding: 6px;
        border-radius: 0px;
    }




/* create post selectButton css */
    .ui-selectbutton{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        padding: 0px;
    }
    .ui-button-text-only .ui-button-text{
        padding: 4px 0px;
        font-size: 14px;
    }
    .ui-togglebutton.ui-button.ui-state-focus,
    .ui-selectbutton .ui-button.ui-state-focus.ui-state-active,
    .ui-selectbutton .ui-button.ui-state-active:focus{
        box-shadow: none;
    }
    .ui-togglebutton.ui-button.ui-state-default, .ui-selectbutton .ui-button.ui-state-default{
        border: none !important;
        background: #ffffff;
        margin-left: 3px;
    }
    .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover{
        border-color: #d75739;
        background: #d75739;
        color: #ffffff;
        border-radius: 5px;
    }
    .ui-togglebutton.ui-button.ui-state-active, .ui-selectbutton .ui-button.ui-state-active {
        border: 1px solid #d75739;
        background: #d75739;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .ui-progress-spinner {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 7px;
        right: 0px;
    }
    @keyframes ui-progress-spinner-color {
        100%,
        0% {
            stroke: #d75839;
        }
        40% {
            stroke: #d75839;
        }
        66% {
            stroke: #d75839;
        }
        80%,
        90% {
            stroke: #d75839;
        }
    }