
.ProfilePrivacy .text-color{
    color: #333333;
}

.headerInfo{
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    background-color: #ffffff;
    line-height: 40px;
    border-bottom: 1px solid #99999954;
    border-color: #99999954;
    padding-left: 20px;

}

.ProfilePrivacy{
    color: #666666;
    position: relative;
}

.ProfilePrivacy button.ptn-primary{
    background: #DE593D;
    padding: 5px 30px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
    box-shadow: none !important;
}
.ProfilePrivacy button.ptn-primary:hover{
    background: #149AC9;
    transition: all 1s;
}


.alert{
    margin: 0px;
    color: red;
    padding: 10px 3%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.success{
    margin: 0px;
    color: green;
    padding: 10px 3%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

 input{
    background: #fff;
    border: 1px solid #dce0e0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    color: #3e3e3e;
    width: 94% !important;
    margin-left: 3%;
    display: block;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    outline: none;
    margin-top: 20px;
}
 input:focus{
    border-color: #2196f3d6 !important;
    box-shadow: 0px 0px 1px 1px #2196f363 !important;
}
 input:-ms-input-placeholder { color: #939598 !important; }
 input::-webkit-input-placeholder { color: #939598 !important; }
 input::-moz-placeholder { color: #939598 !important; }
 input:-moz-placeholder  { color: #939598 !important; }