
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-12" style="text-align:center">
            <img [routerLink]="[ '/']" style="width: 200px; margin: 5px 0px;cursor: pointer;" src="assets/images/logo.png" alt="Logo">
        </div>
    </div>
    <h5 style="text-align: center; margin: 20px 0px 30px 0px;"> About Inscube </h5> 
    <div style="margin: 0% 5%">
      <div class="row">
        <div class="col-sm-6">
            <p>
                Communities are the core of a meaningful social life. Curiosities, Conversations, Talents, Ideas and Questions shape them. A social media does not necessarily have to be a platform to share pictures, videos or articles as there is something, which is essential for a meaningful social life - communities.
            </p>
            <br>
            <p>
                Inscube is an alternate media with the mission of ‘CREATING A BETTER SOCIAL WORLD TOGETHER’ with communities at its core. The world is united by communities with like-minded people irrespective of the location, religion, gender, culture, etc..
            </p>
            <br>
            <p>
                    That’s why we have created a platform exclusively for communities, for people to come together for a cause, initiative meaningful conversations, ask curious questions, share ideas or express their talents.
            </p>
            <br>
            <p>
                <b> ARE YOU IN THE CUBE? </b>
            </p>
        </div>
        <div class="col-sm-6">
            <youtube-player [height]="350" [videoId]="'nwdpBU7uKN4'"></youtube-player>
        </div>
      </div>

        
        <br>
    </div>
</div>