<div style="position: absolute; height: 100%;width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Center Content ------------------------- -->
    <div fxFlex="40%" style="border-radius: 5px; background-color:#fff">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:5px; text-align:center">
        <img src="assets/images/logo.png"> 
        <hr style="margin: 3px;border-radius: 0px;">
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="Tab" fxFlex="100%"> Profile Completion </div>
        </div>

        <!-- ----------------------- Register Tab ------------------------- -->
        <div class="TabData">
            <div fxLayout="row" fxLayoutAlign="space-around start">
              <div fxFlex="110px" class="UserImage">
                  <img src="{{UsersBaseUrl}}UserImage.png" alt="">
                  <span> <i class="material-icons">add_a_photo</i> </span>
              </div>
            </div>
            <label> Tell About Your Self</label>
            <div  fxLayout="row" fxLayoutAlign="space-around start"> 
              <div fxFlex="33%"> 
                <input type="text" placeholder="# ">
              </div>
              <div fxFlex="33%"> 
                  <input type="text" placeholder="#"> 
              </div>
              <div fxFlex="33%"> 
                  <input type="text" placeholder="#">
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start"> 
              <div fxFlex="49%" style="text-align: left"> 
                <label> Gender </label>
                  <p-dropdown class="Select_Box_Style_1" 
                              [options]="Gender" 
                              [(ngModel)]="selectedGender" 
                              optionLabel="name" 
                              [style]="{'width':'100%'}" 
                              placeholder="Gender" 
                              [showClear]="false">
                  </p-dropdown>
              </div>
              <div fxFlex="49%" style="text-align: left"> 
                  <label> Date of Birth </label>
                  <input type="text" placeholder="Date Of Birth" bsDatepicker [bsConfig]="bsConfig"> 
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start"> 
              <div fxFlex="49%" class="Search_templete_Style_1"> 
                  <label> Country </label>
                  <input placeholder="Country" 
                        [(ngModel)]="selectedCountry" 
                        [typeahead]="countries" 
                        [typeaheadItemTemplate]="SearchItemTemplate"
                        [typeaheadScrollable]="true"
                        [typeaheadOptionsInScrollableView]="7">
              </div>
              <div fxFlex="49%" class="Search_templete_Style_1"> 
                  <label> City </label>
                  <input placeholder="City" 
                        [(ngModel)]="selectedCities" 
                        [typeahead]="cities" 
                        [typeaheadItemTemplate]="SearchItemTemplate"
                        [typeaheadScrollable]="true"
                        [typeaheadOptionsInScrollableView]="7"> 
              </div>
            </div>

            <ng-template #SearchItemTemplate let-model="item" let-index="index">
                <small> {{model}}</small>
            </ng-template>

            <div class="row">
              <div class="col-sm-6">
                  <button class="btn ptn-primary" (click)="Complete_Now()" > Submit </button>
              </div>
              <div class="col-sm-6" style="text-align: left;">
                  <button style="float:right" class="btn ptn-warning" (click)="Complete_Now()" > Skip </button> 
              </div>
            </div>
            
            
        </div>
      </mat-card>
    </div>
  </div>
</div>
