<div style="position: absolute; height: 100%;width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Center Content ------------------------- -->
    <div fxFlex="40%" style="border-radius: 5px; background-color:#fff">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:5px; text-align:center">
        <img style="width: 167px; margin: 5px 0px;" src="assets/images/logo.png"> 
        <hr style="margin: 3px;border-radius: 0px;">
        <br>

        <!-- ----------------------- Register Tab ------------------------- -->
        <div class="TabData">
          <form [formGroup]="Form" (ngSubmit)="onSubmit()">

            <div fxLayout="row" fxLayoutAlign="space-around start">
              <div fxFlex="110px" class="UserImage">
                <ng-container *ngIf="!Show_Img_Preview">
                    <img src="{{UsersBaseUrl}}/{{LoginUser.Image}}" alt="">
                </ng-container>
                <ng-container *ngIf="Show_Img_Preview">
                  <img [src]="Preview_Img" alt="">
                </ng-container>
                  <span (click)="fileInput.click()"> <i class="material-icons">add_a_photo</i> </span>
              </div>
            </div>
              <input type="file" (change)="onFileChange($event)" accept=".PNG, .png, JPEG, .jpeg, JPG, .jpg, .GIF, .gif" #fileInput style="display:none;">

            <label> Tell about yourself</label>
            <div  fxLayout="row" fxLayoutAlign="space-around start"> 
              <div fxFlex="33%"> 
                <input type="text" formControlName="Hash_Tag_1" placeholder="#foodie">
              </div>
              <div fxFlex="33%"> 
                  <input type="text" formControlName="Hash_Tag_2" placeholder="#"> 
              </div>
              <div fxFlex="33%"> 
                  <input type="text" formControlName="Hash_Tag_3" placeholder="#">
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start"> 
              <div fxFlex="49%" style="text-align: left"> 
                  <p-dropdown class="Select_Box_Style_1" 
                              formControlName="Gender"
                              [options]="Gender_List" 
                              [(ngModel)]="selectedGender" 
                              optionLabel="name" 
                              [style]="{'width':'100%'}" 
                              placeholder="Gender" 
                              [showClear]="false">
                  </p-dropdown>
              </div>
              <div fxFlex="49%" style="text-align: left"> 
                  <input type="text" formControlName="DOB"  placeholder="Date of birth" bsDatepicker [bsConfig]="bsConfig"> 
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start"> 
              <div fxFlex="49%" class="Search_templete_Style_1"> 
                  <input formControlName="Country" placeholder="Country" 
                        [(ngModel)]="selectedCountry" 
                        [typeahead]="countries" 
                        [typeaheadItemTemplate]="SearchItemTemplate"
                        [typeaheadScrollable]="true"
                        [typeaheadOptionsInScrollableView]="7">
              </div>
              <div fxFlex="49%" class="Search_templete_Style_1"> 
                  <input formControlName="City" placeholder="City" 
                        [(ngModel)]="selectedCities" 
                        [typeahead]="cities" 
                        [typeaheadItemTemplate]="SearchItemTemplate"
                        [typeaheadScrollable]="true"
                        [typeaheadOptionsInScrollableView]="7"> 
              </div>
            </div>

            <ng-template #SearchItemTemplate let-model="item" let-index="index">
                <small> {{model}}</small>
            </ng-template>

            <div class="row">
              <div class="col-sm-6">
                  <button class="btn ptn-primary" type="submit" > Submit </button>
              </div>
              <div class="col-sm-6" style="text-align: left;">
                  <button style="float:right" class="btn ptn-warning" (click)="Skip()" > Skip </button> 
              </div>
            </div>
            
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
