<div style="position: absolute; height: 100%;width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Center Content ------------------------- -->
    <div fxFlex="50%" style="border-radius: 5px; background-color:#fff">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:5px; text-align:center">
        <img src="assets/images/logo.png"> 
        <hr style="margin: 3px;border-radius: 0px;">
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="Tab" fxFlex="100%"> Profile Completion </div>
        </div>

        <!-- ----------------------- Register Tab ------------------------- -->
        <div class="TabData">
            <div fxLayout="row" fxLayoutAlign="space-around start">
              <div fxFlex="110px" class="UserImage">
                  <img src="{{UsersBaseUrl}}UserImage.png" alt="">
                  <span> <i class="material-icons">add_a_photo</i> </span>
              </div>
            </div>
            <p class="textstyle_1"> Register to Meet Millions of Like Minded People. </p>
            <input type="text" placeholder="@ Inscube Name">
            <input type="email" placeholder="Your Email">
            <input type="password" placeholder="Password">
            <p class="style_2"> By signing up, you agree to the <span> terms of service </span>  and <span>  privacy policy </span> </p>
            <button class="btn ptn-primary" > Submit </button>
            <p class="style_3"> Already have an account? </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
