.Tab{
    border-bottom: 4px solid #ffffff;
    padding: 10px 0px;
    color: #777777;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}


.LinK_Style_1 p {
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size:14px;
    margin: 0px 20px
}

.LinK_Style_1 p:hover {
    color: #f85a39;
}

.TabData{
    text-align-last: left;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    padding: 0px 25px;
}
.TabData .UserImage{
    position: relative;
}
.TabData .UserImage img{
    width: 130px;
    height: 130px;
    border-radius: 55px;
}
.TabData .UserImage span{
    position: absolute;
    width: 35px;
    height: 35px;
    top: -7px;
    right: -7px;
    background-color: #d75839;
    border-radius: 50%;
    line-height: 45px;
    cursor: pointer;
}
.TabData .UserImage span i{
    color: #fff;
    margin-left: 5px;
    font-size: 23px;
}
.TabData .textstyle_1{
    color: #939598;
    font-size: 14px;
    margin: 10px 0px;
}
label{
    margin-bottom: 0px;
    font-size: 15px;
    color: #7a7a7a;
}
.TabData input{
    background: #fff;
    border: 1px solid #dce0e0;
    box-shadow: none;
    border-radius: 4px;
    color: #3e3e3e;
    width: 100% !important;
    display: block;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
    margin-bottom: 20px;
}
.TabData input:focus{
    border-color: #2196f3d6 !important;
    box-shadow: 0px 0px 1px 1px #2196f363 !important;
}
.TabData input:-ms-input-placeholder { color: #939598 !important; }
.TabData input::-webkit-input-placeholder { color: #939598 !important; }
.TabData input::-moz-placeholder { color: #939598 !important; }
.TabData input:-moz-placeholder  { color: #939598 !important; }

.TabData .style_2{
    font-size: 13px;
    color: #939598;
}
.TabData .style_2 span{
    color: #DE593D;
    cursor: pointer;
}
.TabData button.ptn-primary{
    background: #DE593D;
    padding: 7px 50px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
    box-shadow: none !important;
}
.TabData button.ptn-primary:hover{
    background: #149AC9;
    transition: all 1s;
}
.TabData .style_3{
    color: #DE593D;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
}