<div class="feedsHeader" >
    <div fxLayout="row" fxLayoutGap="2.5%" fxLayoutAlign="center center" >
        <div fxFlex="19%">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="headerLogo" (click)="clear()">
                    <img (click)="Activity_Check()" style="cursor: pointer;" src="assets/images/logo.png" alt="">
                </div>
            </div>  
        </div><!-- header left -->

        <div fxFlex="47%">
            <div style="position:relative">
                <!-- <input [(ngModel)]="selected" class="SearchStyle" type="text" placeholder="Search"> -->
                <span dropdown [autoClose]="false" [isOpen]="status.isopen">
                    <input [(ngModel)]="search_text" (ngModelChange)="Search_Text_change($event)" class="SearchStyle" type="text" placeholder="Search">
                    <div *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                        <div class="search_tabs">
                            <div class="search_tab" [ngClass]="{'active': activeTab === 'Cubes'}" (click)="change_activeTab('Cubes')">
                                <p> Cubes <small *ngIf="activeTab === 'Cubes'"> ({{Search_Cudes?.length}}) </small> </p>
                            </div>
                            <div class="search_tab" [ngClass]="{'active': activeTab === 'Users'}" (click)="change_activeTab('Users')">
                                <p> Users <small *ngIf="activeTab === 'Users'"> ({{Search_Users?.length}}) </small></p>
                            </div>
                            <div class="search_tab" [ngClass]="{'active': activeTab === 'Posts'}" (click)="change_activeTab('Posts')">
                                <p> Posts <small *ngIf="activeTab === 'Posts'"> ({{Search_Posts?.length}}) </small> </p>
                            </div>
                        </div>
                        <div class="search_result" style="height: 300px;">
                            <ng-scrollbar #scrollRef>

                                <ng-container *ngIf="Search_Cudes && Search_Cudes?.length > 0 && activeTab === 'Cubes'">
                                    <div *ngFor="let cube of Search_Cudes; let i=index" class="search_list_Cube" (click)="clear()" [routerLink]="[ '/Cube_View', cube._id ]">
                                        <img src="{{CubeBaseUrl}}{{cube.Image}}" alt="Cube Image">
                                        <div class="info"> 
                                            <p class="name"> {{cube.Name | slice:0:50}} {{cube.Name?.length > 50 ? '...' : ' ' }} <span> ( {{cube.Category_Name}} ) </span></p>
                                            <p class="Tages">
                                                <ng-container *ngIf="cube.Security === 'Open'">
                                                    <i class="material-icons security">public</i>
                                                </ng-container>
                                                <ng-container *ngIf="cube.Security === 'Close'">
                                                    <i class="material-icons security">lock</i>
                                                </ng-container>
                                                <span class="hashTag"> {{cube.Members_Count}} Members </span>
                                                <span class="IfJoin" *ngIf="cube.Joined"> (You also) </span>
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="Search_Users && Search_Users?.length > 0 && activeTab === 'Users'">
                                    <div *ngFor="let user of Search_Users; let i=index" class="search_list" (click)="clear()" [routerLink]="[ '/Profile_View', user._id ]">
                                        <img src="{{UsersBaseUrl}}{{user.Image}}" alt="User Image">
                                        <div class="info"> 
                                            <p class="name">{{user.Inscube_Name | slice:0:80}} {{user.Inscube_Name?.length > 80 ? '...' : ' ' }} </p>
                                            <p class="Tages"> 
                                                <span class="hashTag"> {{user.Hash_Tag_1}} </span>
                                                <span class="hashTag"> {{user.Hash_Tag_2}} </span>
                                                <span class="hashTag"> {{user.Hash_Tag_3}} </span> 
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="Search_Posts && Search_Posts?.length > 0 && activeTab === 'Posts'">
                                    <div *ngFor="let post of Search_Posts; let i=index" class="search_list_Post" (click)="clear()" [routerLink]="[ '/Post_View', post._id ]">
                                        <img src="{{UsersBaseUrl}}{{post.User_Image}}" alt="User Image">
                                        <div class="info"> 
                                            <p class="name">{{post.User_Name | slice:0:20}} {{post.User_Name?.length > 20 ? '...' : ' ' }}
                                                <span> Posted {{post.TextAddon}} </span>  {{post.Post_Category}} 
                                                <span> in </span>  {{post.Cube_Name | slice:0:20}} {{post.Cube_Name?.length > 20 ? '...' : ' ' }}
                                                <ng-container *ngIf="post.Cubes_Count > 1"> <span> and {{post.Cubes_Count -1}} more cube<ng-container *ngIf="post.Cubes_Count > 2">s</ng-container> </span> </ng-container> 
                                            </p>
                                            <p class="text_line">

                                                <span class="text"> {{post.Post_Text | slice:0:72}} {{post.Post_Text?.length > 72 ? '...' : ' ' }} </span>
                                                <span class="timeago"> {{post.updatedAt | amTimeAgo}} </span>
                                            </p>
                                        </div>
                                    </div>
                                </ng-container>

                            </ng-scrollbar>
                        </div>
                    </div>
                </span>
                <ng-container *ngIf="Spinner">
                    <p-progressSpinner strokeWidth="8" animationDuration="1s"></p-progressSpinner> 
                </ng-container>
                <span *ngIf="search_text?.length > 0 && !Spinner" class="clear_text" (click)="clear()"> X </span>
                <span *ngIf="search_text?.length <= 0" class="searchIncon"> <img class="icon" src="assets/images/search.png" alt=""> </span>
            </div>
        </div><!-- header center -->

        <div fxFlex="19%" (click)="clear()">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="33%" class="header_home_icon text-center">
                    <i (click)="Activity_Check()" class="material-icons">home</i>
                </div>
                <div fxFlex [matMenuTriggerFor]="notifictionList" (click)="notification_showing()" style="line-height: 45px;" class="header_notify_icon text-center" >
                    <img style="cursor: pointer;" class="icon" src="assets/images/notification.png" alt="">
                    <span class="notifyCount"> {{Notification_Count}} </span>
                </div>
                <div fxFlex="33%" [matMenuTriggerFor]="userView" class="header_user_image text-center" style="line-height:50px">
                    <img style="cursor: pointer;" src="{{UsersBaseUrl}}{{LoginUser.Image}}" alt="" >
                </div>
            </div> 
        </div><!-- header right -->

    </div>
</div> <!-- feedsHeader -->


<mat-menu #userView="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuUserView" >   
    <div [routerLink]="[ '/Profile_View', LoginUser._id ]" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="userdropd_icon" fxFlex="40px">
            <i class="material-icons">portrait</i>
        </div>
        <div fxFlex>
            <p class="userdropd_text"> View Profile </p>
        </div>
    </div>
    <hr class="m-0">
    <div class="userdropdarrow"></div>
    <div style="cursor:pointer" (click)="LogOut()" class="userdropd" fxLayout="row" fxLayoutAlign="space-between  center">
        <div class="userdropd_icon" fxFlex="40px">
            <i class="material-icons">power_settings_new</i>
        </div>
        <div fxFlex>
            <p class="userdropd_text"> Log Out </p>
        </div>
    </div>
</mat-menu>



<mat-menu #notifictionList="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuNotification" >
        
    <div class="notifyheader" style="min-width:320px">
        <div class="" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex>
                <p class="notifyheadertext"> Notifications <span> ( {{Notifications_List?.length}} ) </span> </p>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <div style="width:320px; height:368px">
    <ng-scrollbar>


        <div style="width: 320px" >
            <ng-container *ngIf="Notifications_List && Notifications_List?.length > 0">
                <div class="notifylist" *ngFor="let Notify of Notifications_List; let i=index">
                    <ng-container *ngIf="Notify.Notify_Type === 'New_Post'">
                        <div (click)="View_Post(Notify.Post_Id, Notify._id)" class="notify_div" [ngClass]="{'highlight_bg': Notify.View_Status === 0}" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="40px">
                                <img src="{{UsersBaseUrl}}{{Notify.User_Image}}" alt="" class="userImg" >
                            </div>
                            <div class="mt-10" fxFlex style="height: 40px;">
                                <p class="notifycategory"> <span class="username"> {{Notify.User_Name | slice:0:20}} {{Notify.User_Name?.length > 20 ? '...' : ' ' }} </span>
                                    <span> Posted {{Notify.TextAddon}} 
                                        <span style="text-transform: lowercase">"{{Notify.Post_Type}}"</span> in 
                                        <span>"{{Notify.Cube_Name | slice:0:15}} {{Notify.Cube_Name?.length > 15 ? '...' : ' ' }}"</span>  
                                    </span>
                                </p>
                                <p class="notifydate"> {{Notify.createdAt | amTimeAgo}} </p>
                            </div>
                        </div>
                        <hr class="m-0">
                    </ng-container>
                    <ng-container *ngIf="Notify.Notify_Type === 'Shared_Post'">
                        <div (click)="View_Post(Notify.Post_Id, Notify._id)" class="notify_div" [ngClass]="{'highlight_bg': Notify.View_Status === 0}" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="40px">
                                <img src="{{UsersBaseUrl}}{{Notify.User_Image}}" alt="" class="userImg" >
                            </div>
                            <div class="mt-10" fxFlex style="height: 40px;">
                                <p class="notifycategory"> <span class="username"> {{Notify.User_Name | slice:0:20}} {{Notify.User_Name?.length > 20 ? '...' : ' ' }} </span>
                                    <span> shared {{Notify.TextAddon}} 
                                        <span style="text-transform: lowercase">"{{Notify.Post_Type}}"</span> in 
                                        <span>"{{Notify.Cube_Name | slice:0:15}} {{Notify.Cube_Name?.length > 15 ? '...' : ' ' }}"</span>  
                                    </span>
                                </p>
                                <p class="notifydate"> {{Notify.createdAt | amTimeAgo}} </p>
                            </div>
                        </div>
                        <hr class="m-0">
                    </ng-container>
                    <ng-container *ngIf="Notify.Notify_Type === 'Shared'">
                        <div (click)="View_Post(Notify.Post_Id, Notify._id)" class="notify_div" [ngClass]="{'highlight_bg': Notify.View_Status === 0}" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="40px">
                                <img src="{{UsersBaseUrl}}{{Notify.User_Image}}" alt="" class="userImg" >
                            </div>
                            <div class="mt-10" fxFlex style="height: 40px;">
                                <p class="notifycategory"> <span class="username"> {{Notify.User_Name | slice:0:20}} {{Notify.User_Name?.length > 20 ? '...' : ' ' }} </span>
                                    <span> shared your
                                        <span style="text-transform: lowercase">"{{Notify.Post_Type}}"</span>
                                    </span>
                                </p>
                                <p class="notifydate"> {{Notify.createdAt | amTimeAgo}} </p>
                            </div>
                        </div>
                        <hr class="m-0">
                    </ng-container>
                    <ng-container *ngIf="Notify.Notify_Type === 'Opinion'">
                        <div (click)="View_Post(Notify.Post_Id, Notify._id)" class="notify_div" [ngClass]="{'highlight_bg': Notify.View_Status === 0}" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="40px">
                                <img src="{{UsersBaseUrl}}{{Notify.User_Image}}" alt="" class="userImg" >
                            </div>
                            <div class="mt-10" fxFlex style="height: 40px;">
                                <p class="notifycategory"> <span class="username"> {{Notify.User_Name}} </span>
                                    <span> shared an opinion on your
                                        <span style="text-transform: lowercase">"{{Notify.Post_Type}}"</span> in 
                                        <span>"{{Notify.Cube_Name | slice:0:15}} {{Notify.Cube_Name?.length > 15 ? '...' : ' ' }}"</span>  
                                    </span>
                                </p>
                                <p class="notifydate"> {{Notify.createdAt | amTimeAgo}} </p>
                            </div>
                        </div>
                        <hr class="m-0">
                    </ng-container>
                    
                    <ng-container *ngIf="Notify.Notify_Type === 'Emote'">
                        <div (click)="View_Post(Notify.Post_Id, Notify._id)" class="notify_div" [ngClass]="{'highlight_bg': Notify.View_Status === 0}" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="40px">
                                <img src="{{UsersBaseUrl}}{{Notify.User_Image}}" alt="" class="userImg" >
                            </div>
                            <div class="mt-10" fxFlex style="height: 40px;">
                                <p class="notifycategory"> <span class="username"> {{Notify.User_Name}} </span>
                                    <span> commented "{{Notify.Emote_Text}}" to your
                                        <span style="text-transform: lowercase">"{{Notify.Post_Type}}"</span> in 
                                        <span>"{{Notify.Cube_Name | slice:0:15}} {{Notify.Cube_Name?.length > 15 ? '...' : ' ' }}"</span>  
                                    </span>
                                </p>
                                <p class="notifydate"> {{Notify.createdAt | amTimeAgo}} </p>
                            </div>
                        </div>
                        <hr class="m-0">
                    </ng-container>
                </div>
            </ng-container>

            <br>
        </div>
        
    </ng-scrollbar>
    </div>
    <!-- <div class="notifyfooter">
        <hr class="m-0">
        <div class="" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxFlex="100%" class="text-center">
                <p class="notifyfootertext"> See All... </p>
            </div>
        </div>
        <hr class="m-0">
    </div> -->
</mat-menu>
