<div class="container-fluid">
        <br>
    <div class="row">
        <div class="col-sm-12" style="text-align:center">
            <img [routerLink]="[ '/']" style="width: 200px; margin: 5px 0px;cursor: pointer;" src="assets/images/logo.png" alt="Logo">
        </div>
    </div>
    <div class="container">
        <h5 style="text-align: center; margin: 20px 0px 30px 0px;"> Privacy and Data Policy </h5> 
        <br>
        <p class="highlight">
            We get and own the content posted in the service only to run our service, but the user is solely
            responsible for the accuracy or consequences of the type of content.
        </p>
        <br>
        <p>
            - You agree that inscube will not be responsible or liable for any false information provided by
            anyone or users or communities. We are also not liable and responsible for the accuracy of
            information in these cases, websites, contents, services, products or relevant items. In case of any
            third party links or relevant information, you are solely responsible for all actions, damages or
            problems faced from your use of them.
        </p>
        <p class="highlight">
            The data that we get will be only used to improve our service or provide information about our
            service, new services or develop new services of our own. We do not directly distribute the content
            to third parties.
        </p>
        <br>
        <P>
            - All the information provided by the user is used by inscube and its associated entities for analyzing
            user behavior, use the information to give you suggested or relevant content, essentials,
            personalized contents, understand and analyze problems, security, etc
        </P>
        <p>
            - You use the services at your own risk and to the maximum permitted extend by law, inscube, its
            partners, officers, licensors, agents, employees, management, share holders, associated entities,
            EIINK Educational Services Pvt Ltd, service providers and relevant entities are not responsible or
            liable for any loss, negligence, damage, non adherence of terms of users, accuracy of information,
            loss of data, harm for systems and its resources, failure to transmit, store or deletion of any
            content/communications, interruption of service, error free service, security issues, defamation of
            any person by the users, incidental damages, loss of data, profits, any intangible loss, offensive
            statements, illegal conduct of any user or community, unauthorized access and relevant.
        </p>
        <p>
            - All the information provided by the user (you), not just pertaining to pictures, contact details,
            phone numbers, mobile numbers, email ids, interests and also content will be available for public
            viewing on the service and also be used by inscube and EIINK Educational Services to send you
            information on our services or other information we believe that is essential to be informed.
        </p>
        <p>
            - All the information provided by you (“Contents” as mentioned in “terms of service”), will be
            available public and also searched by all search engines.
        </p>
        <p>
            - We also collect information about your network, connections, hardwares used, their softwares,
            payment details including card numbers, shipping details, locations, device details, authentication
            information, links that you click, website or apps that you visit or download and any other relevant
            information
        </p>
        <p>
            - We also use cookies and tracking technologies for using your information, provide customized
            service, advertisements and its control, analysis of user data, getting the information related to
            browsers or any interaction with services, locations, IP addresses, browser related details, URLs,
            pages, clicks, domains, landing pages or similar information
        </p>
        <p>
            - Our cookie and relevant technologies may change from time to time and we may use security,
            authentication, research, analytics, advertising, flash and other cookies
        </p>
        <p>
            - In case only if we come to know by writing that any one has registered without their parent’s
            consent in case of a user below 18 years of age, we will take necessary steps.
        </p>
        <br>
        <h5>
            We collect,
        </h5>
        <p>
            - Content and other information provided by you when you sign up or share any content, that
            communicate with other people or entity, location, date of any file, type of content you view, share,
            engage, create, communicate, frequency, duration of activities
        </p>
        <p>
            - Content provided by other people when they engage or communicate with you or your content in
            any form
        </p>
        <p>
            - Connections and networks, groups, pages that you engage and communicate with
        </p>
        <p>
            - Payment information including credit/debit card numbers, other card information, authentication
            and account information, billing, contact details or shipping details when you use our services to do a
            financial transaction or a payment
        </p>
        <p>
            - Device information in order to provide you services that you may wish (device type, information,
            OS, settings, hardware details, software details, signal/battery information, identifiers, locations,
            geography, locations through GPS, Bluetooth, Wifi signals, mobile operator information, ISP, mobile
            phone number, IP address, browser details
        </p>
        <p>
            - Information when you click or use third party services, information about the service you use
        </p>
        <p>
            - Information from our third party partners about you on or off inscube will be collected
        </p>
        <br>
        <h5>
            We use this information
        </h5>
        <p>
            - To provide you our services and information about our applications.
        </p>
        <p>
            - To conduct research about user interests or other topics, surveys, validate features, improve our
            services, conduct audits, develop new products and troubleshooting
        </p>
        <p>
            - To ensure safety and check violations of our policies and terms, harmful content.
        </p>
        <p>
            - In case our ownership or control of any part of the service or company changes or if we become a
            partner/share holder/create association with other companies, entities or organizations/introduce
            new services as a part of the company, we share all the information to them as well as those services
            become one of our services as well.
        </p>
        <br>
        <h5>
            Change in Privacy
        </h5>
        <p>
            - By agreeing to the “Privacy Policy”, the user also accepts and agrees to the changes in “Privacy
            Policy” made by inscube anytime in future. The “Privacy Policy” shall be changed without any prior
            notice to you or users in general at any time. Also, the user agrees to the condition that the services
            or any features shall be stopped anytime, usage limits and access can be created anytime by inscube.
            The service is an initiative of EIINK Educational Services Pvt Ltd, operating in India. In case of any
            feedback related to the Privacy Policy please contact us at <span style="color: lightskyblue"> info@inscube.com </span>  / 01.04.2018
        </p>
        <br>
    </div>
</div>