<div class="container-fluid">
<br>
   <div class="row">
      <div class="col-sm-12" style="text-align:center">
         <img [routerLink]="[ '/']" style="width: 200px; margin: 5px 0px;cursor: pointer;" src="assets/images/logo.png" alt="Logo">
      </div>
   </div>
   <div class="container">
      <h5 style="text-align: center; margin: 20px 0px 30px 0px;font-weight: 700;color: #000;font-family: unset;"> Privacy Policy</h5> 
      <p style="font-size:17px;font-weight: 400;color: #000;font-family: unset;">Thank you for joining the world's first <span style="font-size:18px;font-weight: 400;color: #000;font-family: unset;">ALTERNATE MEDIA, INSCUBE </span>and welcome to the community. </p>
      <br>
      <p class="highlight">
         INSCUBE (referred to as "we", "us", "company", "app", "website", "inscube", "our site", "www.inscube.com"), all related web pages, sites, downloadable software, mobile applications, tablet applications, <span style="font-weight:800;font-family: unset;">and all other services provided, and all other communications with individuals though from written or oral means, such as email or phone (collectively, together with the Site, our “Service”)</span>
      </p>
      <br>
      <p class="highlight">
         This Privacy Policy explains what information of yours will be collected by us when you access the Sites and Service (including through the websites of our partners), how the information will be used, and how you can control the collection, correction and/or deletion of information
      </p><br>
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Information we collect </h5> 
      <p style="text-align: left;font-weight: 500;color: #000;font-size:18px;font-family: unset;">- Information for running the service </p> 
      <ul class="highlight1">
         <li>Content (type of "content" as mentioned in "terms") provided by the user directly</li>
         <li>Content and other information provided by you when you sign up explicitly giving consent to it by agreeing to our privacy policy, or share any content in the site or apps, message or communicate within the cubes, other people or entity, location, date of any file, type of content you view, share, engage, create, communicate, frequency and duration of activities</li>
         <li>Cubes, Connections and networks, that you engage and communicate with</li>
         <li>Payment information including credit/debit card numbers, other card information, authentication and account information, billing, contact details or shipping details only when you use our services to do a financial transaction or a payment</li>
         <li>Device information in order to provide you services that you may wish (device type, information, OS, settings, hardware details, software details, signal/battery information, identifiers, locations, geography, locations through GPS, Bluetooth, Wifi signals, mobile operator information, ISP, mobile phone number, IP address, browser details)</li>
         <li>The data log whenever the user visits or otherwise uses our services and our website. We use log-ins, cookies, device information and internet protocol(“IP”) addresses to identify you and log your use</li>
         <li>Information when you click or use third party services, information about the service you use</li>
         <li>Information from our third party partners about you related to INSCUBE in order to improve our service addressed to your needs</li>
      </ul>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> - Content provided by others</p> 
      <P class="highlight">
         Content provided by other users using our services when they engage or communicate with you or your content in any form
      </P><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> - While using our website</p> 
      <p class="highlight">
         When using the website, the browser from which you access the site automatically transfers some data in order to access the website namely, IP address, date and time of request, OS, language and version of the browser you use, type of the browser. Without such data, the website cannot be accessed, and hence it is processed.
      </p>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> - Content by third parties</p> 
      <p class="highlight">
         Technologies such as: cookies, beacons, tags and scripts are used by our partners, affiliates, analytics or service providers. These technologies may be used in analyzing trends, administering the Sites, tracking your movements around the Sites and to gather demographic information about our userbase as a whole. We may receive reports based on the use of these technologies by such companies on an individual as well as aggregated basis. <br><br>
         For example: When we upload the App in Google Play store, it provides us data with the statistics of users, their activity, demographics and related information which is used to understand our users and run the service<br><br>
         The legal basis for the processing of personal data described above in Sections 2.b-i of GDPR
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">How we use your information</p> 
      <p class="highlight" style="margin-left:10px;">-	Communication</p>
      <p class="highlight" style="margin-left:10px;">-	Operations and Improving our services</p>
      <p class="highlight" style="margin-left:10px;">-	Analyse user behaviour to customise the service</p>
      <p class="highlight" style="margin-left:10px;">-	Check for spam, illegal or any unlawful content</p>
      <p class="highlight" style="margin-left:10px;">-	Advertising our services or products</p>
      <p class="highlight" style="margin-left:10px;">-	Advertising third parties in general</p>
      <p class="highlight" style="margin-left:10px;">-	Cookies and tracking technologies</p>
      <br>
      <p class="highlight">Detailed explanation of individual points mentioned above:</p> <br>
      <p class="highlight">
         - To provide you and contact you in email, phone or any provided information regarding our services, information about applications, sponsored services or advertisements, products, brands, etc that you may be interested in
      </p>
      <p class="highlight">
         - Data and content about members for invitations and communications promoting membership and network growth and engagement
      </p>
      <p class="highlight">
         - To produce aggregate insights that do not identify you. For example, we may use user data to generate statistics about our users, their profession or industry, the number of ad impressions served or clicked on, or the demographic distribution of visitors to a site
      </p>
      <p class="highlight">
         - User Data(including your communications) if we think it is necessary for security purposes or to investigate possible fraud or other violations of our User Agreement or this privacy policies and/or attempts to harm our members or visitors
      </p>
      <p class="highlight">
         - To conduct research about user interests or other topics, surveys, validate features, improve our services, conduct audits, develop new products and troubleshooting
      </p>
      <p class="highlight">
         - To ensure safety and check violations of our policies and terms, harmful content.
      </p>
      <p class="highlight">
         -We use data about users to suggest connections for users and others and enable users to follow other users. Users can also opt to allow us to use users precise location or proximity to other to connect within.
      </p>
      <p class="highlight">
         - In case our ownership or control of any part of the service or company changes, we share all the information to them as well
      </p>
      <p class="highlight">
         - Our service allows you to stay informed about the news, events, favourites etc., and connect other with those having same idea, thought, talent etc.
      </p>
      <p class="highlight">
         - We contact users through email, notices posted on our website or apps, and other ways through our services, including text messages and push notifications. We will send you messages about the availability of our services, security, or other service- related issues. We also send messages about how to use the services, network updates, reminder, promotional messages, advertisements from us, our partners and those who subscribe the service for advertising. 
      </p><br>
      <p class="highlight">
         We use automatically collected information and other information collected on the Service through cookies and similar technologies to: (i) personalize our Service, such as remembering a User’s or Visitor’s information so that the User or Visitor will not have to re-enter it during a visit or on subsequent visits; (ii) provide customized advertisements, content, and information; (iii) monitor and analyze the effectiveness of Service and third-party marketing activities; (iv) monitor aggregate site usage metrics such as total number of visitors and pages viewed; and (v) track your entries, submissions, and status in any promotions or other activities on the Service. You can obtain more information about cookies by visiting <a href="" style="text-decoration:underline;">http://www.allaboutcookies.org.</a>
      </p>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> Firebase</p> 
      <p class="highlight">
         Firebase SDK of Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (“Firebase”; Firebase is a subsidiary of Google, LLC) is also being used by us. The Firebase Real-time Database is a cloud-hosted NoSQL database that lets store and sync data between users in real-time. It also allows to analyze user's anonymized data, some of them namely behaviourial, tracking of active users, activity events, distribution information, crashes, adoption rates, usage, also for specific versions of the app. Some data is sent outside the EU with respect to Firebase usage, please refer the privacy policy of Firebase here: <a href="" style="text-decoration:underline;">https://www.firebase.com/terms/privacy-policy.html</a>
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> Other tools</p> 
      <p class="highlight">
         We also use Mailchimp to send information, newsletters and similar to the users. You can also opt out of mailchimp by unsubscribing to it. more info on Mialchimp Privacy Policy: https://mailchimp.com/legal/privacy/ 
      </p><br>
      <p class="highlight">
         We use APIs, linkpreview.net and youtube to provide thumbnails for the "Content" shared by the user. Refer to the privacy policies here, https://www.linkpreview.net/, https://www.youtube.com/yt/about/policies/
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> How we share your information</p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> - Information which identifies a person (Personally identifiable):</p>
      <p class="highlight">
         We do not sell, rent or provide your personally identifiable information to others, we may store it in locations outside the direct control of INSCUBE (for example., in servers or databases which are co located with our hosting providers). The information you provide in the app or site like your comments, posts, content, etc will be available public to your cube (communities) in which you have posted or shared them. You can delete any of our posts anytime. Once you delete, sometimes, it may remain viewable in cached or archived pages of our site or service, if other users have copied or saved such information.
      </p><br><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> - Non Personally Identifiable Information: </p>
      <p class="highlight">
         To improve our services, we may share such information like anonymous usage data, URLs and exit/referring pages, clicks, etc) to third parties tounderstand the usage of the service. If you remove information that you have made public on the  Service or Site, copies may remain viewable in cached and archived pages of the  Service or Site, or if other users have copied or saved that information. Non-personally identifiable information may be stored indefinitely.
      </p>
      <p class="highlight">
         When we are required by law to share your information
      </p>
      <p class="highlight">
         By law, if subject to subpoena or any legal proceedings, 
      </p>
      <p class="highlight">- to adhere and comply with law and reasonable requests of enforcement</p>
      <p class="highlight">- to protect the rights, safety or property of INSCUBE, our users, associates, partners and others</p>
      <p class="highlight">- to enforce our terms, protect the integrity, security of our service</p>
      <p class="highlight">In case of control changes, </p>
      <p class="highlight">In case INSCUBE is bought by others, or we divest, transfer, sell the company or its shares, its combination, our products or services, businesses, assets, etc., your data such as "content", user information and those data we have may be also the items being sold or transferred as a result of such transactions. Such selling, transfer or assigning will also hold true in case of mergers and acquisitions, liquidations, re-organizations, corporate divestitures, bankruptcies, dissolutions, , similar transactions or proceedings involving all or a portion of the company. You will be also notified in case of any of such events</p>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> Storage and Processing  </p>
      <p class="highlight">
         The information collected by us may be stored and processed in countries where we have our presence, subsidiaries, affiliates or service providers. The transfer of data across borders may happen in these cases. 
      </p><br>
      <p class="highlight">
         If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.
         Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
      </p>
      <p class="highlight">
         We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
      </p><br><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;"> Do Not Track Policy</p>
      <p class="highlight">
         California law requires that operators of websites and online services disclose how they respond to a Do Not Track signal. Some browsers have incorporated “Do Not Track” features. Most of these features, when turned on, send a signal or preference to the website or online service that a user visits, indicating that the user does not wish to be tracked. Because there is not yet a common understanding of how to interpret Do Not Track signals, we do not currently respond to Do Not Track signal. We continue to work with the online industry to define a common understanding of how to treat Do Not Track signals.
      </p>
      <p class="highlight">
         In the meantime, you may opt out of receiving interest based advertising from advertising networks that may be delivered on our platform and other websites by visiting the following websites. If you want to opt out of this online behavioral advertising, visit the following 
      </p>
      <p class="highlight">
         sites: <a href="" style="text-decoration:underline;">http://www.aboutads.info/consumers</a>and <a href="" style="text-decoration:underline;">http://www.networkadvertising.org.</a>
      </p>
      <p class="highlight"> 
         This will opt you out of many – but not all - of the interest-based advertising activities in which we or third parties engage. Choices you make may be browser and device specific. If you delete your cookies or use a different browser or a different computer or device, you may need to update your opt-out choices. Other third-party Sites provide visitors with the ability to opt-out of receiving interest-based ads on their Sites that you need to control through your settings on that Site. For example, to opt out of Google’s use of your online behavior for advertising purposes, visit Google’s Ad Settings page.
      </p>
      <p class="highlight">      
         Certain data accessible on our services is the intellectual property of the relevant news and information services provider or third parties that provide such data to the relevant service provider, or us. The data is protected by copyright and other intellectual laws and all ownership rights remain with the information service provider or the third party or us, as the case may be.
      </p><br>
      <p class="highlight">In no event will we, any information provider, or third party be liable for any consequential damage</p>
      <p class="highlight">
         - You agree that INSCUBE will not be responsible or liable for any false information provided by anyone or users or advertisement agencies, advertisement providers or anyone who advertises in INSCUBE. We are also not liable and responsible for the accuracy of information in these cases, websites, contents, services, products or relevant items. In case of any third party links or relevant information, you are solely responsible for all actions, damages or problems faced from your use of them.
      </p>
      <p class="highlight">
         - You use the services at your own risk and to the maximum permitted extend by law, INSCUBE, its partners, officers, licensors, agents, employees, management, share holders, associated entities, EIINK Educational Services Pvt Ltd, service providers and relevant entities are not responsible or liable for any loss, negligence, damage, non adherence of terms of users, accuracy of information, loss of data, harm for systems and its resources, failure to transmit, store or deletion of any content/communications, interruption of service, error free service, security issues, defamation of any person by the users, incidental damages, loss of data, profits, any intangible loss, offensive statements, illegal conduct of any user or advertiser, unauthorized access and relevant.
      </p>
      <p class="highlight">
         - All the information provided by the user is used by INSCUBE and its associated entities for analyzing user behavior, use the information to give you suggested or relevant content or advertisement, essentials, personalized contents, understand and analyze problems, security, etc
      </p>
      <p class="highlight">
         - All the information provided by the user, not just pertaining to pictures, contact details, phone numbers, mobile numbers, email ids, interests, work details and also content will be available for public viewing on the service, which will be collected and also used by INSCUBE and EIINK Educational Services to send you information on our services, marketing information, advertisements by us as well as those who wish to advertise in INSCUBE
      </p>
      <p class="highlight">
         - All the information provided by user (“Contents” as mentioned in “terms of service”), will be available public if the user shares it public and also searched by all search engines.
      </p>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</p>
      <p class="highlight">
         If you are from the European Economic Area (EEA), legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.
      </p>
      <p class="highlight" style="margin-left:10px;">
         -	We may process your Personal Data because:
      </p>
      <p class="highlight" style="margin-left:10px;">
         -	We need to perform a contract with you
      </p>
      <p class="highlight" style="margin-left:10px;">
         -	You have given us permission to do so
         The processing is in our legitimate interests and it’s not overridden by your rights
      </p>
      <p class="highlight" style="margin-left:10px;">
         -	For payment processing purposes
      </p>
      <p class="highlight" style="margin-left:10px;">
         -	To comply with the law
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Retention of Data</p>
      <p class="highlight" style="margin-left:10px;">
         We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
      </p>
      <p class="highlight" style="margin-left:10px;">
         We will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.
      </p>
      <p class="highlight" style="margin-left:10px;">
         this data for longer time periods. When the user deletes the account, we try to remove the user data within 3 months of time. But, sometimes, the "content" shared by the user in the platform might remain for a longer period.
      </p>
      <p class="highlight" style="margin-left:10px;font-size:18px;">
         Data Protection Officer
      </p>
      <p class="highlight" style="margin-left:10px;">
         You can contact data protection officer by mailing dpo@inscube.com (Address: DPO, INSCUBE, EIINK Educational Services P ltd, KCT Saravanampatti, Coimbatore, India 641049)
      </p><br>
      <p class="highlight" style="font-weight:800;font-family: unset;">
         We respect your privacy rights and provide you with reasonable access to the Personal Data that you may have provided through your use of the Services when requested. If you wish to access or amend any other Personal Data we hold about you, or to request that we delete or transfer any information about you that we have obtained from an Integrated Service, you may contact us at info@inscube.com 
      </p><br>
      <p class="highlight">
         You may update, correct, or delete your Account information and preferences at any time by Settings-Profile Page. Please note that while any changes you make will be reflected in active user databases instantly or within a reasonable period of time, we may retain all information you submit for backups, archiving, prevention of fraud and abuse, analytics, satisfaction of legal obligations, or where we otherwise reasonably believe that we have a legitimate reason to do so.
      </p>
      <p class="highlight">
         At any time, you may object to the processing of your Personal Data, on legitimate grounds, except if otherwise permitted by applicable law. You may opt out of any communications by mailing us. We will respond to you as soon as possible., We will also inform you whether such activity might affect your usage of the service, whether its is vital to run the service and similar information.
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Security of Data</p>
      <p class="highlight">
         The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
      </p>
      <p class="highlight">
         Your Data Protection Rights Under General Data Protection Regulation (GDPR)
      </p>
      <p class="highlight">
         If you are a resident of the European Economic Area (EEA), you have certain data protection rights. We aim to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.
      </p>
      <p class="highlight">
         If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please contact us.
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Security of Data</p>
      <p class="highlight">
         - The right to access, update or to delete the information we have on you. Whenever made possible, you can access, update or request deletion of your Personal Data directly within your account settings section. If you are unable to perform these actions yourself, please contact us to assist you.
      </p>
      <p class="highlight">
         - The right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete.
      </p>
      <p class="highlight">
         - The right to object. You have the right to object to our processing of your Personal Data.
      </p>
      <p class="highlight">
         - The right of restriction. You have the right to request that we restrict the processing of your personal information.
      </p>
      <p class="highlight">
         - The right to data portability. You have the right to be provided with a copy of the information we have on you in a structured, machine-readable and commonly used format.
      </p>
      <p class="highlight">
         -  The right to withdraw consent. You also have the right to withdraw your consent at any time where we relied on your consent to process your personal information.
      </p><br>
      <p class="highlight">
         Please note that we may ask you to verify your identity before responding to such requests.
      </p><br>
      <p class="highlight">
         Advertising
      </p>
      <p class="highlight">
         We may use third-party Service Providers to show advertisements to you to help support and maintain our Service.
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Links to Other Sites</p>
      <p class="highlight">
         Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
      </p>
      <p class="highlight">
         We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
      </p><br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Children’s Privacy</p>
      <p class="highlight">
         Our Service does not address anyone under the age of 18 (“Children”).
      </p>
      <p class="highlight">
         We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
      </p>
      <p class="highlight">
         We value privacy and place it in the core of our processes and mission. INSCUBE has privacy integrated in design which can be seen by various features in the service.  
      </p>
      <br>
      <p style="text-align: Left;font-weight: 500;color: #000;font-family: unset;font-size:18px;">Changes To This Privacy Policy</p>
      <p class="highlight">
         We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
      </p>
      <p class="highlight">
         We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the “effective date” at the top of this Privacy Policy.
      </p>
      <p class="highlight">
         You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
      </p>
      <p class="highlight">
         Also, the user agrees to the condition that the services or any features shall be stopped anytime, usage limits and access can be created anytime by INSCUBE. The service is an initiative of EIINK Educational Services Pvt Ltd, operating in India. In case of any feedback related to the Privacy Policy please contact us at <a href="" style="text-decoration:underline;">info@inscube.com /</a> updated on 15.05.2018
      </p>
   
   </div>
</div>