<div class="feedsRightBar">
  <!-- UserDetails -->
    <div *ngIf="User_Info !== undefined" class="userdiv" fxLayout="column" fxLayoutAlign="start center">
        <div fxFlex="120px" class="text-center">
            <img class="userimg" src="{{UsersBaseUrl}}{{User_Info.Image}}" alt="">
        </div>
    </div>
    <div *ngIf="User_Info !== undefined">
        <p class="username"> {{User_Info.Inscube_Name}} </p>
    </div>
  <!-- UserDetails End -->

    <ng-container *ngIf="User_Info !== undefined && User_Info._id === LoginUser._id">
        <div class="ProfileEdit"> 
            <i (click)="Edit_Model()" class="material-icons">border_color</i> 
        </div>
    </ng-container>


  <ng-container  *ngIf="User_Info !== undefined && (User_Info.Show_Profile_To !== 'Nobody' || User_Info._id === LoginUser._id)">
      <p class="hash_tag_class"> 
        <span *ngIf=" User_Info.Hash_Tag_1 !== ''" > #{{User_Info.Hash_Tag_1}}</span>
        <span *ngIf=" User_Info.Hash_Tag_2 !== ''" > #{{User_Info.Hash_Tag_2}}</span> 
        <span *ngIf=" User_Info.Hash_Tag_3 !== ''" > #{{User_Info.Hash_Tag_3}} </span>
      </p>
    
      <div class="user_info_icon">
        <i style="font-size: 22px;width: 30px;text-align: center;" class="fa fa-intersex"></i>
        <p class="discription"> {{User_Info.Gender}} </p>
      </div>
    
      <div class="user_info_icon">
        <i class="material-icons">today</i>
        <p class="discription"> {{User_Info.DOB | date}}</p>
      </div>
    
      <div class="user_info_icon">
        <i class="material-icons">location_on</i>
        <p class="discription"> {{User_Info.Country.Country_Name}}, {{User_Info.State.State_Name}},  {{User_Info.City.City_Name}}</p>
      </div>
  </ng-container>


  

  <!-- Followers -->
  <div class="row">
    <div class="col-sm-12">
        <p class="headerstyle"> Member of </p>
    </div>
  </div>

  <!-- <ng-container *ngIf="Cubes_List?.length <= 0 && !Loader_1">
    <div style="width: 100%; height: 100px;text-align: center;">
      <h5 style="line-height: 80px;font-size: 14px;color: #777777;"> Cubes are empty ! </h5>
    </div>
  </ng-container> -->

  <ng-container *ngIf="Loader_1">
      <div style="width: 100%; height: 200px; text-align: center">
          <img style="height: 100px; margin-top: 50px" src="assets/images/loader.gif" alt="">
      </div>
  </ng-container>

  <ng-container *ngIf="Cubes_List?.length > 0 && !Loader_1">
      <div class="row">
          <div class="col-sm-12 listFlexDiv">
              <div  *ngFor="let item of Cubes_List | slice:0:8; let i=index" class="col-xs-3 followPart ">
                  <img [routerLink]="[ '/Cube_View', item._id ]" class="followimg" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                  <p [routerLink]="[ '/Cube_View', item._id ]" class="followname"> {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }} </p>
              </div>
          </div>
      </div>
  </ng-container>

  <div *ngIf="Cubes_List?.length > 8" class="row">
    <div class="col-sm-12 text-right">
        <p class="viewAll"> <span (click)="View_All_MemberOf()"> View All... </span>  </p>
    </div>
  </div>

  <!-- Followers End  -->


  <!-- Followers -->
  <div class="row">
    <div class="col-sm-12">
        <ng-container *ngIf=" User_Info !== undefined && User_Info._id === LoginUser._id">
            <p class="headerstyle"> My Cubes </p>
        </ng-container>
        
        <ng-container *ngIf=" User_Info !== undefined && User_Info._id !== LoginUser._id">
            <p class="headerstyle"> {{User_Info.Inscube_Name}}'s Cubes </p>
        </ng-container>
    </div>
  </div>

  <!-- <ng-container *ngIf="User_Cubes_List?.length <= 0 && !Loader_2">
      <div style="width: 100%; height: 100px;text-align: center;">
          <h5 style="line-height: 80px;font-size: 14px;color: #777777;"> Cubes are empty ! </h5>
      </div>
  </ng-container> -->

  <ng-container *ngIf="Loader_2">
      <div style="width: 100%; height: 200px; text-align: center">
          <img style="height: 100px; margin-top: 50px" src="assets/images/loader.gif" alt="">
      </div>
  </ng-container>

  <ng-container *ngIf="User_Cubes_List?.length > 0 && !Loader_2">
      <div class="row">
          <div class="col-sm-12 listFlexDiv">
                <ng-container *ngIf="User_Info !== undefined && User_Info._id === LoginUser._id">
                    <div  *ngFor="let item of User_Cubes_List | slice:0:4; let i=index" class="col-xs-3 followPart ">
                        <img class="followimg" [routerLink]="[ '/Cube_View', item._id ]" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                        <p class="followname" [routerLink]="[ '/Cube_View', item._id ]" > {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }} </p>
                    </div>
                </ng-container>
                <ng-container *ngIf="User_Info !== undefined && User_Info._id !== LoginUser._id">
                    <div  *ngFor="let item of User_Cubes_List | slice:0:8; let i=index" class="col-xs-3 followPart ">
                        <img class="followimg" [routerLink]="[ '/Cube_View', item._id ]" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                        <p class="followname" [routerLink]="[ '/Cube_View', item._id ]" > {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }} </p>
                    </div>
                </ng-container>
          </div>
      </div>
  </ng-container>


    <ng-container *ngIf="User_Info !== undefined && User_Info._id !== LoginUser._id">
        <div *ngIf="User_Cubes_List?.length > 8" class="row">
            <div class="col-sm-12 text-right">
                <p class="viewAll"> <span (click)="View_All_MyCubes()" > View All... </span>  </p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="User_Info !== undefined && User_Info._id === LoginUser._id">
        <div *ngIf="User_Cubes_List?.length > 4" class="row">
            <div class="col-sm-12 text-right">
                <p class="viewAll"> <span (click)="View_All_MyCubes()" > View All... </span>  </p>
            </div>
        </div>
    </ng-container>
  
  <!-- Followers End  -->
    <ng-container *ngIf="User_Info !== undefined && User_Info._id === LoginUser._id">
        <div class="Left_bar_Button">  
            <button (click)="privacy_model()" > Privacy settings </button>
            <button (click)="password_change()" > Change password </button>
        </div>
    </ng-container>



</div>
