
<div class="container-fluid">
   <br>
   <div class="row">
      <div class="col-sm-12" style="text-align:center">
         <img [routerLink]="[ '/']" style="width: 200px; margin: 5px 0px;cursor: pointer;" src="assets/images/logo.png" alt="Logo">
      </div>
   </div>
   <div class="container">
      <h5 style="text-align: center; margin: 20px 0px 30px 0px;font-weight: 700;color: #000;font-family: unset;"> Terms of Service </h5> 
      <p class="highlight">
         We strongly believe that all users or entities associated with us should have full transparency of the terms and privacy policy, how the user interacts with the platform/app and how the user data is being used to provide services. We strongly recommend you to read the complete document carefully before agreeing/giving consent and using the service.
      </p>
      <br>
      <p class="highlight" style="font-weight:800;font-family: unset;">
         Terms and Privacy lists the details of the contract that any user/entity makes with INSCUBE and its associated services when signing up and using the services
      </p><br>
      <p class="highlight">
         “Terms" and "Privacy/Privacy Policy”, "terms and privacy policy" governs your use of all the services of “inscube”, its associated entities, android and iOS applications and access to it. On agreeing to the “terms and privacy policy”, you are bound by it when using the services or accessing it. On accepting the “terms and privacy policy”, you form a binding contract with inscube and also in compliance with all the “terms”, “privacy policy”, laws, rules and regulations (local to international). INSCUBE offers a wide range of services inside the platform or other applications associated with it. We ask you to review specific terms in case of usage of other services provided by the company
      </p>
      <br>
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Information we collect </h5> 
      <p class="highlight" style="font-weight:800;font-family: unset;"> 
         Inscube is a community based alternate media. You can create communities (CUBEs) and share posts within a single/multiple communities that you are a part of. You can post under categories like Articles, Questions, Curiosities, Talents and Ideas. The user is responsible for the content and the consequences, nevertherless, when you join the platform you agree that you will not post any harmful, illegal, misleading or violent contents (The entire list is given below).
      </p><br>
      <p class="highlight">
         Inscube is a platform to create your own communities (CUBEs - a social media dedicated to your community) and share anyone’s opinions. Questions which also represents curiosities can be posted and anyone can answer it. All the answers are mere opinions of an individual person and may not be true or accurate. The answers and opinions may not be converted into news as inscube is not a source for any news. The user is responsible and liable for all his content, answers, opinions and actions. Any content shall not harm or hurt anyone in any means. The interactions or answers or comments to any topic may not hurt or harm or abusive anyone and the user is liable for the content posted in the chats. Our main goal is to create a platform for people to only have healthy conversations and get connected with other like-minded people in the world, not to create unfriendly, abusive or harmful statements and such environment to anyone.
      </p>
      <br>
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Account information</h5> 
      <p class="highlight" style="font-weight:800;font-family: unset;">
         While joining the service, please provide a strong password to secure your account and keep the credentials safe. You shall use our services only if you are above 18 years of age.
      </p>
      <p class="highlight">
         We do our best to keep INSCUBE safe but we do not guarantee it. We require user’s commitment to help keep INSUBE safe.
      </p>
      <p class="highlight">
         - All the account and community (cube) information given by you (or any user) shall be accurate and not fake, it should include your real name, real age and all other relevant information which are true.
      </p>
      <p class="highlight">
         - The responsibility for safeguarding the password which you use for all services, is with you and you also hold the responsibility for all actions done by your account and password.
      </p>
      <p class="highlight">
         - The password shall be always strong, with upper case, lower case letters and numbers or symbols and so that it cannot be misused by any other user or non user.
      </p>
      <p class="highlight">
         - We are not liable for any damage or loss which results due to your failure to comply with this.
      </p>
      <p class="highlight">
         - By agreeing the terms, you accept that you are over 18 years of age
      </p>
      <p class="highlight">
         - Your guardian or parents must consent the terms of service and privacy policy and all other terms and policies if you are under 18 years of age
      </p>
      <p class="highlight">
         - Your parents or guardian/s confirm that they accept all the terms and privacy policy on behalf of
         you and they shall bear all the financial and legal responsibility and liable for the actions in case you are under 18 years of age
      </p>
      <p class="highlight">
         - In case you use any application, it may ask or access the content and information of you as well as
         others associated with you and your profile
      </p>
      <p class="highlight">
         - If you are convicted sex offender, you will not use INSCUBE
      </p>
      <p class="highlight">
         - You will not share your password or transfer your account to anyone without our permission
      </p>
      <br>
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Content</h5> 
      <p class="highlight" style="font-weight:600;">
         What do we mean by user Content?
      </p>
      <p class="highlight">
         “Content” refers to all information, graphics, picture, videos, texts or any material uploaded,
         appearing or downloaded by/of the user appearing in inscube, cubes, profiles, highlights, cube
         captures, trends or its services and the user (you) retain the ownership of all of them (Content),
         which you submit, display, share, post, or in any means make available in the service/services.
      </p>
      <p class="highlight" style="font-weight:600;">Curiosities</p> 
      <p class="highlight">
         Curiosities category refers to any user posted curious questions and the world’s opinion for the topic.
         The content shall be treated as user’s personal opinion and shall not be converted info official
         information in any means or mediums
      </p>
      <p class="highlight" style="font-weight:600;">Conversations/Opinions</p> 
      <p class="highlight">
         Debates, questions and answers and any form of conversation (personal/public) shall be considered
         in Conversation part
      </p>
      <p class="highlight" style="font-weight:600;">Talents</p> 
      <p class="highlight">
         Talent category is defined as any content, picture, video of a person who is talented in any aspect.
         The user shall post their own talent in this category. In case the user is sharing a content from other
         online platforms in INSCUBE, the user is completely liable for the content
      </p>
      <p class="highlight" style="font-weight:600;">Articles/Story/Idea/Feedback/Advice: Various Posting features</p> 
      <p class="highlight">
         Posting features are content in the form of text, pictures, videos or documents which shall be of any topic.
      </p>
      <p class="highlight" style="font-weight:600;">Cube capture</p> 
      <p class="highlight">
         One minute videos taken by users
      </p>
      <p class="highlight" style="font-weight:600;">Trends</p> 
      <p class="highlight">
         Hashtag campaigns created by users
      </p><br>
      <p class="highlight">
         Detailed info is given in the privacy policy: <a href="" style="text-decoration:underline;">www.inscube.com/privacy</a>
      </p><br>
      <p class="highlight">
         The service is only for entertainment, community engagement and opinion sharing purpose and the contents shall not to hurt any person in any means. The user is liable for all the issues occurring due to the user’s content.
         In case you post, submit or display any content in the service or through the services, you grant us a non exclusive, worldwide, transferable,  royalty free, sub licensable  license with all rights to also sublicense in order to reproduce, use, copy, modify, publish, process, adapt, display, creative derivative works from, distribute, etc., any of the contents, and in any distribution methods or media or other mediums known or later developed for the process and development of services by inscube for its users, cubes or services. You agree that you grant us this license. Any additional uses by inscube for any content posted, transmitted, submitted or made available, etc., by you may be made with no compensation payable to you. We work on reactive basis, if any user/s report a content, then we analyse it to check whether it meets our terms and policies and if not, we will take it down to the maximum possible extent as soon as possible.
      </p>
      <br>
      <p class="highlight" style="font-weight:600;">Which content is not permitted in our service/s?</p> 
      <p class="highlight" style="font-weight:800;font-family: unset;">
         1.That has links to malicious softwares, any type of virus, links for timebomb, all things that collect data from inscube or damage any data of inscube and its associated services.
      </p>  
      <br>
      <p class="highlight" style="font-weight:800;font-family: unset;">
         2.That is other people’s personal information or private information , unauthorized or non permitted information, abusive contents , harassing, bullying, offensive to anyone or any entity, harmful to anyone, defamatory, violates any trademark or copyright property of anyone or any entity, access and collect inscube’s information and data, hateful, that mentions, reveals or displays any trade secrets of any others without their consent, permission or approval to disclose it, or violating any law, rights of another or third party, infringing intellectual property of anyone, spam, that misrepresents your affiliation with an entity or a person and any relevant harmful content
      </p>
      <p class="highlight" style="font-weight:800;font-family: unset;">
         3.That involves unlawful methods or marketing or businesses
      </p>
      <p class="highlight" style="font-weight:800;font-family: unset;">
         4.That uses or that shows any third party application having mature contents, pornographic, alcohol-related and similar contents
      </p>
      <br>
      <p class="highlight" style="font-weight:600;">Users are not permitted to</p>  
      <p class="highlight">
         - Use inscube and its associated services for any kind of illegal promotion or unlawful purposes
      </p>
      <p class="highlight">
         - Spam any one in or through inscube or outside the platform mentioning inscube
      </p>
      <p class="highlight">
         - Spam any one in or through inscube or outside the platform mentioning inscube
      </p>
      <p class="highlight">
         - access or damage any non-public area of inscube and its services, technical systems
      </p>
      <p class="highlight">
         - breach any security measures of inscube
      </p>
      <p class="highlight">
         - send or use false information, official information, header information, logo and other branding
         materials and any official documents to anyone or through any means
      </p>
      <p class="highlight">
         Inscube has the right to terminate the account, suspend, remove content anytime and pursue any
         other relief or remedy under law or equity.
      </p>
      <br>
      <p class="highlight" style="font-weight:600;">Which content is not permitted in our service/s?</p> 
      <p class="highlight">
         The contents in inscube are the sole responsibility of the user who has published it and we shall not
         be responsible for any abusive, inappropriate, harmful, inaccurate or false information or opinions.
         All the contents posted are used in any means in inscube are completely the opinions of the user
         who posted it and it may never be considered as news, true information or accurate information is
         any case. The contents are the user’s personal opinions and the user is responsible and liable for it.
         Inscube will not check the accuracy, completeness or truthfulness of any information or opinion. You
         are solely responsible for any damage, insecurities, personal or mental disturbances, suicides or
         death occurring through/because of your opinions and inscube is not liable or responsible for these.
         Inscube has the right to modify, remove or distribute any information which is harmful or abusive to
         government authorities or any agents under request in case of any violations or damage or harm any
         user personally or mentally.
      </p>
      <p class="highlight">
         Any opinions or answers on medical and related questions shall not be considered as an advice or
         instruction for treatment or medical diagnosis and there may never be a physician-patient
         relationship created in inscube. In case of any medical problems, you should contact appropriate
         doctor and not take the answers or opinions in inscube as medical instructions or advice. The same is
         applicable for legal advice or comments or opinions or answers in inscube. All such contents are not
         assured to be true, accurate, legal or correct. It is the opinion of the user only. A hate content or
         inappropriate content will be removed only if given in writing about the reason and appropriate
         issues related to the content.
      </p>
      <p class="highlight">
         When you delete your account, we will remove all your details from the services as soon as possible.
      </p>
      <p class="highlight">
         When you share the content from our service, you should label which includes origin (immediate, distinct, clear and in a prominent manner), these contents from our service should not be changed in representation, graphics, content, appearance and so on. In case of sharing, apart from the above mentioned items, you must mention “Get the App” and logo. You shall not use our service in
      </p>
      <p class="highlight" style="margin-left:15px;">
         -	A device not owned by you
      </p>
      <p class="highlight" style="margin-left:15px;">
         -	Screening or presenting publicly our services
      </p>
      <p class="highlight" style="margin-left:15px;">
         -	Editing, modifying or creating any works, its derivatives to our services or parts of them
      </p>
      <p class="highlight" style="margin-left:15px;">
         -	To reverse engineer, create similar services, comparable or similar features, decompiling or any other way of imitating our services or any part of our services
      </p>
      <p class="highlight">
         unless our authorization is given to you. In case of violation, we might revoke your grant of access to our services and block your device or account. The enforcement of any other rights, especially of damages, remains in existence.
      </p>
      <br> 
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Legal issues</h5> 
      <p class="highlight">
         - In case of any claim against inscube caused due to any action of the user or content in inscube and
         associated entities, you will indemnify and hold us harmless against and from all expenses, damages,
         legal fees, costs and losses of any kind
      </p>
      <p class="highlight">
         - If anyone brings a claim against us related to your actions or Content on the Service, or actions or
         Content by or from someone using your account, you will indemnify and hold us harmless from and
         against all damages, losses, and expenses of any kind (including reasonable legal fees and costs)
         related to such claim.
      </p>
      <p class="highlight">
         - If we disable your account or any content, you will not create another account or post those
         content without our permission/approval
      </p>
      <P class="highlight">
         - In case only if we come to know by writing that any one has registered without their parent’s
         consent in case of a user below 18 years of age, we are not responsible for any activity or postings of
         the particular person and also will take necessary action in accordance with law.
      </P>
      <P class="highlight">
         - The “inscube” and its associated entities will attempt in good faith to resolve any dispute or claim
         arising out of or relating to this terms of service promptly through negotiations. Subject to aforesaid,
         the Parties shall refer any dispute arising out of or in connection with this terms of service and
         privacy policy to an arbitrator and “inscube” and its associated entities, has reserved his right to
         appoint an arbitrator for resolving the dispute and the arbitration proceedings is to be carried out in
         accordance to the provisions of the Arbitration & Conciliation Act, 1996. The language of Arbitration
         shall be in English and the venue of Arbitration shall be Coimbatore, India. The cost of the arbitration
         and its proceedings shall be born by the parties raising the disputes.
      </P><br>
      <P class="highlight">
         WE TRY TO KEEP INSCUBE BUG FREE AND SAFE; BUT YOU USE THE SERVICES AND THE PLATFORM AT
         YOUR OWN RISK. WE PROVIDE INSCUBE AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES OF
         MERCHANTABILITY, NON INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. INSCUBE AND
         ITS ASSOCIATED COMPANIES ARE NOT RESPONSIBLE FOR ANY ACTIONS; CONTENTS, DATA OF THIRD
         PARTY, INFORMATION, AND YOU RELEASE US, OUR DIRECTORS, EMPLOYEES, OFFICERS, AGENTS,
         STAFFS FROM ANY CLAIMS OR DAMAGES, KNOWN OR UNKNOWN ARISING OUT OF OR IN ANY WAY
         CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. WE DO NOT
         GUARANTEE THAT INSCUBE WILL ALWAYS BE ERROR-FREE, SAFE, UNINTERRUPTED, SECURE AND
         OPERATE WITHOUT DISRUPTIONS.
      </P>
      <P class="highlight">
         IF YOU ARE A RESIDENT FROM OTHER COUNTRIES, THEN YOU GIVE US RIGHT TO TRANSFER YOUR
         INFORMATION TO THE COUNTRY/COUNTRIES IN WHICH WE OPERATE/HAVE REGISTERED. IF YOU
         ARE A RESIDENT OF CALIFORNIA, YOU WAIVE CALIFORNIAN CIVIL CODE §1542. INSCUBE WILL NOT
         BE RESPONSIBLE FOR PERSONAL LOSS, PROFIT LOSS, DIRECT OR INDIRECT LOSS, OTHER
         CONSEQUENTIAL LOSS, SPECIAL LOSS, INCIDENTIAL LOSS ARISING OUT OF OR IN CONNECTION WITH
         THIS STATEMENT OR INSCUBE OR EIINK EDUCATIONAL SERVICES EVEN IF WE HAVE BEEN ADVISED OF
         POSSIBILITY SUCH DAMAGES. INSCUBE’s OR ASSOCIATED ENTITIES' AGGREGATE LIABILITY ARISING
         OUT OF INSUCBE OR THIS STATEMENT WILL NOT EXCEED THE GREATER OF 1000 INR. APPLICABLE
         LAW MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY OR CONSEQUENTIAL OR
         INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT BE APPLICABLE TO
         YOU. IN SUCH CASES INSCUBE’s LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY
         APPLICABLE LAW.
      </P>
      <br>
      <h5 style="text-align: left;font-weight: 600;color: #000;font-family: unset;">Change of terms of service</h5> 
      <p class="highlight">
         - By agreeing to the “terms”, the user also accepts and agrees to the changes in “terms” made by
         inscube anytime. The “terms” shall be changed without any prior notice to you or users in general at
         any time. Also, the user agrees to the condition that the services or any features shall be stopped
         anytime, usage limits and access can be created anytime by inscube.
      </p><br>
      <p class="highlight">
         The service is an initiative of EIINK Educational Services P Ltd, operating in India. In case of any
         feedback related to the terms please contact us at  <a href="" style="text-decoration:underline;">info@inscube.com </a>
      <br>
   </div>
</div>