<div style="position: absolute; height: 100%;width: 100%;background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)),url(assets/images/bg.jpg) no-repeat center center fixed;">

  <div style="margin-top:30px" fxLayout="row" fxLayoutAlign="space-around start">

    <!-- ----------------------- Center Content ------------------------- -->
    <div fxFlex="80%" style="border-radius: 5px; background-color:#fff">

      <mat-card class="example-card" style="border-radius: 5px; padding:0px; padding-bottom:5px; text-align:center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div> <span (click)="backtocategories()" class="button_1"> Back to categories </span></div>
          <div fxFlex="50%"> <img style="width: 167px; margin: 5px 0px;" src="assets/images/logo.png"> </div>
          <div> <span (click)="gotofeed()" class="button_1"> Go to feed </span> </div>
        </div>
        <hr style="margin: 3px;border-radius: 0px;">

        <div class="header" fxLayout="row" fxLayoutAlign="space-around end" style="height: 35px;">
            <div class="header_left" fxFlex="46%" > <span> {{Category_Name}} </span> </div>
            <div class="header_right" fxFlex="46%" > <span (click)="openConfirmDialog()"> Create your own social media </span> </div>
        </div>

        <div style="max-height:550px;overflow-y: auto">
          <div class="row Cat_list">

            <div *ngFor="let item of Cubes_List; let i=index" class="col-sm-4 Cat_list_item">
              <div class=" Cat_list_item_parts" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="80px" class="Cat_list_item_part_1">
                  <img class="Cat_list_item_img" src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                </div>
                <div fxFlex class="Cat_list_item_part_2">
                  <h5> {{item.Name}} </h5>
                  <p> {{item.Members}} Members </p>
                </div>
                <div fxFlex="80px" class="Cat_list_item_part_3">
                    <ng-container *ngIf="item.Security === 'Close'">
                        <p (click)="JoinCodeGet(i)" > Join </p>
                    </ng-container>
                    <ng-container *ngIf="item.Security === 'Open'">
                        <p (click)="DirectJoin(i)" > Join </p>
                    </ng-container>
                  
                  <ng-container *ngIf="item.Security === 'Close'">
                      <i class="material-icons">lock</i>
                  </ng-container>
                  <ng-container *ngIf="item.Security === 'Open'">
                      <i class="material-icons">public</i>
                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
