<div class="ProfilePrivacy">

    <p class="headerInfo"> Change Password <span style="position:absolute; right:15px; top:0px;font-size:20px;cursor:pointer; font-weight: 500; " (click)="_bsModalRef.hide()"  > X </span> </p>
    
    <input type="password" [(ngModel)]="Old_Password"  placeholder="Old password">

    <input type="password" [(ngModel)]="New_Password"  placeholder="New password">
  
    <p *ngIf="alert" class="alert"> {{alertMessage}} </p>
    <hr style="margin: 5px">
    <div>
      <div class="col-sm-12 text-right" style="margin-bottom: 5px;">
            <button class="btn ptn-primary" type="button" (click)="submit()"> Update </button> 
      </div> 
    </div>
  
  
  </div>