.CubesLeftBar{
    position: relative;
}
.CubesLeftBar .cubediv{
    padding: 10px 7px 7px 7px;
    text-align: left
}

.CubesLeftBar .Cubeimg{
    width: 75px;
    height: 75px;
    margin-right: 5px;
    border-radius: 10px;
}
.CubesLeftBar .Cubename{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin: 0px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 15px;
}
.CubesLeftBar .CubeCategory{
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}
.CubesLeftBar .CubeFollowCount{
    font-size: 11px;
    color: #666666;
    margin: 0px;
}
.CubesLeftBar  .CubeScurityType{
    margin: 0px;
    color: #2b546b;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    background-color: #0000001f;
}
.CubesLeftBar  i{
    font-size: 20px;
}
.discription_div{
    padding: 0px 5px 20px 10px;
}
.discription_div .dis_title{
    margin: 0px;
    font-weight: 600;
    font-size: 15px;
}
.discription_div .discription{
    margin: 0px;
    font-size: 14px;
    color: #777;
    text-align: justify;
}
.cube_info_icon {
    display: flex;
    padding-left: 10PX;
    margin-bottom: 5PX;    
}
.cube_info_icon i{
    line-height: 30px;
    color: #555555;
}
.cube_info_icon p{
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
    color: #777;
    word-wrap: break-word;
}
.Left_bar_Button button{
    width: 46%;
    margin: 10px 0 0 2%;
    margin-bottom: 15px;
    height: 32px;
    background-color: #d75839;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid #d75839;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px;
    font-size: 13px;
}

.Left_bar_Button button:hover{
    background-color: #fff;
    color: #d75839;
}


.CubesLeftBar .headerstyle{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin: 0px 15px;
    letter-spacing: 0.4px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 12px;
}



.CubesLeftBar .listFlexDiv{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.CubesLeftBar .followPart{
    height: 60px;
    text-align: center;
    padding: 0px;
}
.CubesLeftBar .followimg{
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50px;
    cursor: pointer;
}

.CubesLeftBar .followname{
    font-size: 11px;
    margin: 0px;
    font-weight: 500;
    color: #666666;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
}



.CubesLeftBar .viewAll{
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    letter-spacing: 0.6px;
    margin-right: 5px;
    padding-bottom: 3px;
    font-family: 'Ubuntu', sans-serif;
}
.CubesLeftBar .viewAll span{
   cursor: pointer;
}


.edit_button{
    font-size: 12px;
    margin-bottom: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.7px;
    cursor: pointer;
    background-color: #d75739;
    padding: 0px 10px;
    border-radius: 15px;
    line-height: 20px;
}

.dropd{
    width: 125px;
    padding: 0px 5px;
    background-color: #f3f3f3;
}

.dropd .dropd_text{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #666666a3;
    line-height: 33px;
    margin: 0px;
}

.dropd .dropd_icon i{
    color: #666666a3;
    font-size: 23px;
    margin-top: 6px;
}
.dropdarrow{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    top: -3px;
    left: 15px;
    transform: rotate(45DEG);
    z-index: -1;
}
