<div class="modal-header" style="padding: 5px 10px;">
  <h4 style="color: #d75739;font-size: 21px;" class="modal-title"> Share To </h4>
  <button type="button" class="close" aria-label="Close" (click)="_bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body Create_Cube">

    <ng-container *ngIf="Loader_1">
        <div style="width: 100%; height: 200px; text-align: center">
            <img style="height: 100px; margin-top: 50px" src="assets/images/loader.gif" alt="">
        </div>
    </ng-container>

    <ng-container *ngIf="Cubes_List?.length > 0 && !Loader_1">
        <div class="row">
        <div class="col-sm-12 listFlexDiv">
            <div  *ngFor="let item of Cubes_List; let i=index" class="col-xs-3 followPart ">
                <img class="followimg"  [ngClass]="{'Selected': item.Selected }"
                     [matTooltipPosition]="'above'" 
                     matTooltipClass="MatTooltipStyled" 
                     [matTooltip]="item.Name"
                     (click)="Select_Cube(i)"
                     src="{{CubeBaseUrl}}{{item.Image}}" alt="">
                <p class="followname" (click)="Select_Cube(i)" > {{item.Name | slice:0:10 }}{{ item.Name?.length > 10 ? '...' : ' ' }} </p>
            </div>
        </div>
        </div>
    </ng-container>

  <hr style="margin: 5px">

  <div style="text-align: right">
    <button type="button" (click)="Submit()" [ngClass]="{'disabled': Selected_Cube?.length < 1 }" [disabled]="Selected_Cube?.length < 1" mat-raised-button color="primary" style="background-color: #d75739; margin-left:20px"> 
        <span style="color: #ffffff" > Submit </span>
     </button>
</div>

</div>
