<div class="modal-header">
    <h4 style="color: #d75739;font-size: 21px;" class="modal-title"> Create your own social media </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="modal-body Create_Cube">
        <div *ngIf="ActiveCategory" style="margin-bottom:2px;" fxLayout="row" fxLayoutAlign="space-around start">
            <div fxFlex="110px" class="CubeImage">
                <ng-container *ngIf="!Show_Img_Preview">
                    <img src="{{CategoryBaseUrl}}/{{ActiveCategory.Image}}" alt="" style="width: 110px;height:110px;border-radius: 0px;">
                </ng-container>
                <ng-container *ngIf="Show_Img_Preview">
                    <img [src]="Preview_Img" alt="" style="width: 110px;height:110px;border-radius: 0px;">
                </ng-container>
                <span (click)="fileInput.click()"> <i class="material-icons">add_a_photo</i> </span>
            </div>
        </div>
        <input type="file" (change)="onFileChange($event)" accept=".PNG, .png, JPEG, .jpeg, JPG, .jpg, .GIF, .gif" #fileInput style="display:none;">



        <p *ngIf="ActiveCategory" style="font-size: 14px;color: #777;margin: 0px 0px 0px 10px;"> Selected Category
            <small> ( {{ActiveCategory.Name}} )</small>
        </p>
        <ng-container *ngIf="Category_List?.length > 0">
            <ngx-carousel [inputs]="carouselTile">
                <ngx-tile NgxCarouselItem *ngFor="let tile of Category_List; let i = index;">
                    <div class="tile">
                        <div class="cat_div" [ngClass]="{'Selected': tile.selected}" (click)="Chanage_Category(i)">
                            <img src="{{CategoryBaseUrl}}{{tile.Image}}" alt="">
                            <div class="text_div">
                                <p class="name"> {{tile.Name}} </p>
                                <p class="Count"> {{tile.Cubes_Count}} Cubes </p>
                            </div>
                        </div>
                    </div>
                </ngx-tile>
                <button NgxCarouselPrev class="leftRs">&lt;</button>
                <button NgxCarouselNext class="rightRs">&gt;</button>
            </ngx-carousel>
        </ng-container>


        <div class="input_style_1" style="margin-top: 20px;"> 
            <input type="text" formControlName="Name" placeholder="Cube name">
            <p class="error alertStyle-1 m-0" *ngIf="Form['controls'].Name.dirty &&  Form.value.Name ==='' "> Cube name Is Required </p>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-around start">
            <div fxFlex="40%" style=" display: flex">
                <p style=" margin-top: -3px; font-weight: 600;"> Security : </p>
                <mat-radio-group [(ngModel)]="SecurityType" formControlName="Security" >
                    <mat-radio-button style="margin-left:10px; margin-right:10px;" (change)="radioChange($event)" [value]="'Open'">  Open </mat-radio-button>
                    <mat-radio-button [value]="'Close'" (change)="radioChange($event)"> Close </mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxFlex="50%" class="input_style_1">
                <ng-container>
                        <input type="text" maxlength="10" formControlName="Security_Code" *ngIf="SecurityCode" style="margin-top: -5px;height: 35px;"  placeholder="Cube code">
                </ng-container>
            </div>
            <div fxFlex="10%" style="text-align:center; color: #999999">
                    <i *ngIf="SecurityCode" style="cursor:pointer" class="material-icons" placement="left" tooltip="cube code is user-defined secret code (limited to 10 characters) which is necessary to join a closed cube. Once created, the cube code cannot be changed. Please keep it safely and share it only within your particular community" >help_outline</i>
            </div>
        </div>


        <div class="textarea_style_1"> 
            <textarea type="text" formControlName="Description" placeholder="Cube description"></textarea>
        </div>

        <div *ngIf="Locatin_Input" class="input_style_1" > 
            <input type="text" formControlName="Location" placeholder=" Location">
        </div>

        <div *ngIf="Website_Input" class="input_style_1" > 
            <input type="text" formControlName="Web" placeholder="Website">
        </div>

        <div *ngIf="Email_Input" class="input_style_1" > 
            <input type="text" formControlName="Mail" placeholder="Email">
        </div>

        <div *ngIf="Contact_Input" class="input_style_1" > 
            <input type="text" formControlName="Contact" placeholder=" Contact number">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 20px"> 
            <div fxFlex="25%" class="Addons">
                <i class="material-icons" [ngClass]="{'active': Locatin_Input}"  (click)="View_Location_Input()" >location_on</i>
            </div>
            <div fxFlex="25%" class="Addons">
                <i class="material-icons" [ngClass]="{'active': Website_Input}"  (click)="View_Website_Input()" >language</i>
            </div>
            <div fxFlex="25%" class="Addons">
                <i class="material-icons" [ngClass]="{'active': Email_Input}"  (click)="View_Email_Input()" >mail_outline</i>
            </div>
            <div fxFlex="25%" class="Addons">
                <i class="material-icons" [ngClass]="{'active': Contact_Input}"  (click)="View_Contact_Input()" >call</i>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" (click)="onConfirm()"> Submit & Add Topic </button> -->
        <button type="submit" [ngClass]="{'disabled': Form.value.Name ==='' && !Form.valid}" [disabled]="Form.value.Name =='' && !Form.valid" style="float: right;" class="btn btn-primary" > Submit </button>    
    </div>
</form>