<div class="CreatePost">
  <div class="postheader" fxLayout="row" fxLayoutAlign="start" >
    <div fxFlex="65px" class="text-center">
        <img  src="{{UsersBaseUrl}}{{LoginUser.Image}}" alt="" class="userimg">
    </div>
    <div fxFlex class="text-left">
      <h5 class="m-0 posttype"> Edit Your Post </h5>
    </div>
    <div fxFlex class="text-left">
          <button type="button" style="padding: 0px 15px; font-size: 35px;" class="close" aria-label="Close" (click)="_bsModalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>

  <hr style="margin-top:3px;margin-bottom:0px">

  <div class="modal-body">

    <form [formGroup]="Form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" style="padding:0px 15px">

      <p-selectButton formControlName="Post_Type" [options]="types" [(ngModel)]="selectedType"></p-selectButton>

          <textarea formControlName="Post_Text" style="margin-top: 15px;" class="posttext" placeholder="{{placeholder}}"></textarea>

          <span class="Old_File_View" *ngIf="FileInputActive && Old_File.length > 0"> Attached File: <a href="{{PostBaseUrl}}{{Old_File[0].File_Name}}" target="blanck"> {{Old_File[0].File_Name}}</a> <span (click)="Remove_Old_File()" > Remove </span> </span>
          <input *ngIf="FileInputActive" type="file" (change)="onFileChange($event)" class="postlink mb-20" accept=".pdf, .PDF" #FileInput>
  
          <input *ngIf="LinkInputActive" formControlName="Post_Link" class="postlink mb-20" placeholder="Enter Link...">
  
          <div class="imgUpload" *ngIf="List_Img_Preview.length > 0 || Old_Img_Preview.length  > 0">
              <div style="display:inline-flex;">
                  <ul class="ImgselectedList">
                      <li *ngFor="let Old_item of Old_Img_Preview; let i=index">
                          <div class="selectedImg">
                              <img src="{{PostBaseUrl}}{{Old_item.File_Name}}" />
                              <div class="clearbutton" (click)="Remove_Old_Img(i)"> <i class="material-icons">clear</i> </div>
                          </div>
                      </li>
                      <li *ngFor="let item of List_Img_Preview; let i=index">
                          <div class="selectedImg">
                              <img src="{{item}}" />
                              <div class="clearbutton" (click)="Remove_Img_file(i)"> <i class="material-icons">clear</i> </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
  
  
          <div class="vidUpload" *ngIf="List_Video_Preview.length > 0 || Old_Video_Preview.length  > 0" >
              <div style="display:inline-flex;">
                  <ul class="vidselectedList">
                      <li *ngFor="let Old_item of Old_Video_Preview; let i=index">
                          <div class="selectedvid">
                                  <video controls width="180px" height="90px" controlsList="nodownload">
                                      <source src="{{PostBaseUrl}}{{Old_item.File_Name}}" type="video/{{Old_item.File_Name | slice:-3}}">
                                  </video>
                              <div class="clearbutton" (click)="Remove_Old_Video(i)"> <i class="material-icons">clear</i> </div>
                          </div>
                      </li>
                      <li *ngFor="let item of List_Video_Preview; let i=index">
                          <div class="selectedvid">
                                  <video controls width="180px" height="90px" controlsList="nodownload">
                                      <source src="{{item}}" type="{{List_Video_Files[i].type}}">
                                  </video>
                              <div class="clearbutton" (click)="Remove_Video_file(i)"> <i class="material-icons">clear</i> </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
        


          <div class="postaddon" fxLayout="row" fxLayoutAlign="start" >
              <div fxFlex="50px" class="text-center postaddon_icon">
                  <input type="file" multiple (change)="onImageFileChange($event)" accept=".PNG, .png, JPEG, .jpeg, JPG, .jpg, .GIF, .gif" #imageInput style="display:none;">
                  <i (click)="imageInput.click()" class="material-icons">burst_mode</i>
              </div>
              <div fxFlex="50px" class="text-center postaddon_icon">
                      <input type="file" multiple (change)="onVideoFileChange($event)" accept=".3gp, .mp4, .vlc, .mkv, .MKV, .VLC, .MP4, .3GP" #videoInput style="display:none;">
                  <i (click)="videoInput.click()" class="material-icons" style="transform:rotate(90deg)">local_movies</i>
              </div>
              <div fxFlex="50px" class="text-center postaddon_icon">
                <i (click)="FileInputActiveToggle()" class="material-icons">attachment</i>
            </div>
              <div fxFlex="50px" class="text-center postaddon_icon">
                  <i (click)="LinkInputActiveToggle()" class="material-icons">insert_link</i>
              </div>
          </div>
  
          <p style="margin: 0px;color: #888;font-size: 14px;">
                Select cubes
          </p>
  
          <div fxLayout fxLayoutAlign="space-between end">
              <div fxFlex="85%">
                    <div class="mt-10 grid_row" >
    
                    <div *ngFor="let item of Cubes_List | slice:0:slice_Count; let i=index" class="cat-img-item">
                        <img [ngClass]="{'Selected': item.Selected }" id="1" src="{{CubeBaseUrl}}{{item.Image}}" alt="" (click)="Select_Cube(i)">
                        <p (click)="Select_Cube(i)" > {{item.Name | slice:0:6 }}{{ item.Name?.length > 6 ? '...' : ' ' }}  </p>
                    </div>


                    <div *ngIf="Cubes_List?.length > slice_Count">
                        <p (click)="select_More_Model()" class="viewall"> ... </p>
                    </div>
    
                    </div>
              </div>
              <div fxFlex="15%" style="line-height:75px;">
                  <button type="submit" [ngClass]="{'disabled': Post_Submit }" [disabled]="Post_Submit" mat-raised-button color="primary" style="background-color: #d75739"> 
                      <span *ngIf="!Post_Submit"> Update </span>
                      <span *ngIf="Post_Submit" style="color:#fff"> Uploading... </span>
                   </button>
              </div>
          </div>
  
      </form>
  </div>
</div>