<div class="Highlights" [ngStyle]="{'height': scrollHeight }">
  <ng-scrollbar>

    <ng-container *ngIf="Posts_List?.length <= 0 && !Loader_1">
      <div style="width: 100%; height: 200px;text-align: center;">
        <h5 style="line-height: 200px"> No posts available </h5>
      </div>
    </ng-container>

    <ng-container *ngIf="Loader_1">
      <div style="width: 100%; height: 200px; text-align: center">
        <img style="height: 100px; margin-top: 50px" src="assets/images/loader.gif" alt="">
      </div>
    </ng-container>

    <ng-container *ngIf="Posts_List?.length > 0 && !Loader_1">
      <div *ngFor="let Post of Posts_List; let i=index" class="HighlightsPost " style="margin-bottom: 25px">
          <!-- Highlights Post Info Header div -->
          <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex>
              <div class="leftSide">
                <div class="" style="height: 50px;" fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="45px">
                    <img [routerLink]="[ '/Profile_View', Post.User_Id ]" src="{{UsersBaseUrl}}{{Post.User_Image}}" alt="" class="postuserImg" >
                  </div>
                  <div fxFlex>
                    <p class="postusername"> 
                      <span style="cursor:pointer; color: #333" [routerLink]="[ '/Profile_View', Post.User_Id ]"> {{Post.User_Name | slice:0:20}}{{Post.User_Name?.length > 20 ? '...' : ' ' }} </span> 
                      <ng-container *ngIf="Post.Shared_Post === 'True'">
                        shared <span style="cursor:pointer; color: #333" [routerLink]="[ '/Profile_View', Post.Shared_Post_User_Id ]"> {{Post.Post_Owner_Name | slice:0:20}}{{Post.Post_Owner_Name?.length > 20 ? '...' : '`s' }} </span> Post
                      </ng-container>
                    </p>
                    <p class="postusercategory"> {{Post.Post_Category}}  &nbsp; | &nbsp; {{ Post.updatedAt | amTimeAgo}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex="35%">
              <div class="rightSide">
                <div class="" fxLayout="row" fxLayoutAlign="end center">
                  <div class="text-right" fxFill>
                    <p *ngIf="Post.User_Id === LoginUser._id" class="postaction"> 
                      <i (click)="Trigger_Post(i)" [matMenuTriggerFor]="ReportHighlightPostUser" class="material-icons">more_horiz</i>
                    </p>
                    <p *ngIf="Post.User_Id !== LoginUser._id" class="postaction"> 
                      <i (click)="Trigger_Post(i)" [matMenuTriggerFor]="ReportHighlightPost" class="material-icons">more_horiz</i>
                    </p>
                    <p class="Selected_Cubes" style="width: 300px"> 
                        <ngx-carousel [inputs]="carouselTile" style="width: 300px">
                            <ngx-tile style="padding: 0px" NgxCarouselItem *ngFor="let Cubes of Post.Cubes_Info; let postLikes = index;">
                                <div class="tile">
                                  <div class="cat_div">
                                    <img [routerLink]="[ '/Cube_View', Cubes._id ]" 
                                          [matTooltipPosition]="'above'" 
                                          matTooltipClass="MatTooltipStyled" 
                                          [matTooltip]="Cubes.Name"
                                          src="{{CubeBaseUrl}}{{Cubes.Image}}" alt="">
                                  </div>
                                </div>
                            </ngx-tile>
                            <button NgxCarouselPrev class="leftR">&lt;</button>
                            <button NgxCarouselNext class="rightR">&gt;</button>
                          </ngx-carousel>
                           <!-- <img *ngFor="let Cubes of Post.Cubes_Info | slice:0:7; let j=index" [routerLink]="[ '/Cube_View', Cubes._id ]" src="{{CubeBaseUrl}}{{Cubes.Image}}" alt="">  -->
                      
                      <!-- <span *ngIf="Post.Cubes_Info?.length > 7" style="font-size: 25px; margin: 0px 10px;line-height: 20px;color: #7f7f7f;"> .... </span> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Highlights Post Info Header div End -->
          <hr style="opacity:0.6; margin:0px 5px 5px 5px">
          <!-- Highlights Post -->
          <div class="postmain" fxLayout="row" style="padding: 5px 0px;">
            <div fxFlex class="text-center">
              <h5 class="text-left" style="margin: 0px 10px;font-size: 15px;white-space: pre-wrap;"> {{Post.Post_Text}} </h5>

              <ng-container *ngIf="Post.Attach_File && Post.Attach_File?.length > 0 ">
                <div class="text-left">
                    <span class="File_View"> Attached File: <a href="{{PostsBaseUrl}}{{Post.Attach_File[0].File_Name}}" target="blanck"> {{Post.Attach_File[0].File_Name}}</a></span>
                </div>
              </ng-container>

              <ng-container *ngIf="Post.Post_Link !== '' && Post.Post_Link_Info && Post.Post_Link_Info !== '' && Post.Post_Link.indexOf('http://www.youtube') === -1 && Post.Post_Link.indexOf('https://youtu') === -1 && Post.Post_Link.indexOf('https://www.youtube') === -1">
                <a href="{{Post.Post_Link_Info.url}}" target="blanck"> 
                <div *ngIf="Post.Post_Link_Info !== ''" class="row thumpnailbox">
                  <div class="col-sm-4 thumpnailbox-left">
                      <img *ngIf="Post.Post_Link_Info.image !== ''" class="thumpnailbox-img" src="{{Post.Post_Link_Info.image}}" alt="">
                      <img *ngIf="Post.Post_Link_Info.image === ''" class="thumpnailbox-img" src="assets/images/empty.jpg" alt="">
                  </div>
                  <div class="col-sm-8 thumpnailbox-right">
                    <div class="thumpnailbox-textField">
                        <p class="thumpnailbox-header"> {{Post.Post_Link_Info.title}} </p>
                        <p class="thumpnailbox-decription"> {{Post.Post_Link_Info.description | slice:0:170}} {{Post.Post_Link_Info.description?.length > 170 ? '...' : ' ' }} </p>
                    </div>
                    <p class="thumpnailbox-link"> <a href="{{Post.Post_Link_Info.url}}" style="word-wrap: break-word" target="blanck"> {{Post.Post_Link_Info.url}}  </a> </p>
                  </div>
                </div>
                </a>
              </ng-container>

              <ng-container *ngIf="Post.Attachments?.length > 0 || (Post.Post_Link !== '' && Post.Post_Link.indexOf('http://www.youtube') !== -1 || Post.Post_Link.indexOf('https://youtu') !== -1 || Post.Post_Link.indexOf('https://www.youtube') !== -1)">
                <ngx-carousel class="ImageGallery"
                  [inputs]="carouselBanner"
                  (carouselLoad)="myfunc($event)">
                  <ngx-item NgxCarouselItem *ngIf="Post.Post_Link !== '' && Post.Post_Link.indexOf('http://www.youtube') !== -1 || Post.Post_Link.indexOf('https://youtu') !== -1 || Post.Post_Link.indexOf('https://www.youtube') !== -1">
                    <div class="bannerStyle" >
                        <div class="bannerStyle_Inner">
                          <p class="gallery_info_button"> 
                            <ng-container *ngIf="Post.Attachments?.length > 0">
                                <span> 1 / {{Post.Attachments?.length + 1}} </span> 
                            </ng-container>
                            <ng-container *ngIf="Post.Attachments?.length <= 0">
                                <span> 1 / 1 </span> 
                            </ng-container>
                          </p>
                          <youtube-player [height]="400" [videoId]="Post.Post_Link | slice:-11"></youtube-player>
                        </div>
                      </div>
                  </ngx-item>
                  <ngx-item NgxCarouselItem *ngFor="let Attachment of Post.Attachments; let n =index">
                    <div class="bannerStyle">

                        <div *ngIf="Attachment.File_Type === 'Video'" class="bannerStyle_Inner">
                          <p class="gallery_info_button">
                              <ng-container *ngIf="Post.Post_Link !== '' && Post.Post_Link.indexOf('http://www.youtube') !== -1 || Post.Post_Link.indexOf('https://youtu') !== -1 || Post.Post_Link.indexOf('https://www.youtube') !== -1">
                                <span> {{n + 2}} / {{Post.Attachments?.length + 1}} </span>
                              </ng-container>
                              <ng-container *ngIf="Post.Post_Link === '' || Post.Post_Link.indexOf('http://www.youtube') === -1 && Post.Post_Link.indexOf('https://youtu') === -1 && Post.Post_Link.indexOf('https://www.youtube') === -1">
                                <span> {{n + 1}} / {{Post.Attachments?.length}} </span>
                              </ng-container>
                          </p>
                          <video controls height="400px" width="100%">
                              <source src="{{PostsBaseUrl}}{{Attachment.File_Name}}" type="video/{{Attachment.File_Name | slice:-3}}">
                          </video>
                        </div>

                        <div *ngIf="Attachment.File_Type === 'Image'" class="bannerStyle_Inner">
                            <p class="gallery_info_button"> 
                              <ng-container *ngIf="Post.Post_Link !== '' && Post.Post_Link.indexOf('http://www.youtube') !== -1 || Post.Post_Link.indexOf('https://youtu') !== -1 || Post.Post_Link.indexOf('https://www.youtube') !== -1">
                                <span> {{n + 2}} / {{Post.Attachments?.length + 1}} </span>
                              </ng-container>
                              <ng-container *ngIf="Post.Post_Link === '' || Post.Post_Link.indexOf('http://www.youtube') === -1 && Post.Post_Link.indexOf('https://youtu') === -1 && Post.Post_Link.indexOf('https://www.youtube') === -1">
                                <span> {{n + 1}} / {{Post.Attachments?.length}} </span>
                              </ng-container>
                            </p>
                            <div class="img_Part" [style.background]="'url(' + PostsBaseUrl + Attachment.File_Name + ')'"></div>
                            <p class="Image_button"> <i (click)="Show_Image( PostsBaseUrl + Attachment.File_Name)"  class="material-icons">fullscreen</i> </p>
                        </div>
                    </div>
                  </ngx-item>

                  <button NgxCarouselPrev class='leftRs'>&lt;</button>
                  <button NgxCarouselNext class='rightRs'>&gt;</button>
                </ngx-carousel>
              </ng-container>

            </div>
          </div>
          <!-- Highlights Post END -->
          <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
          <!-- Highlights Post Share Like And More -->
          <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex class="text-left" style="height:35px">
              <div class="like">
                <!-- <img src="assets/images/icons/1.png" alt=""> -->
                <img (click)="Emote_Add(i)" src="assets/images/icons/5.png" alt="">
                <img (click)="Active_CommentChange(i)" src="assets/images/icons/3.png" alt="">
              </div>
            </div>
            <div fxFlex class="text-right" style="height:35px">
              <div class="share">
                <img (click)="Trigger_Post(i); Share_Post()" src="assets/images/icons/7.png" alt="">
              </div>
            </div>
          </div>
          <!-- HighlightsPost Share Like And More  END-->
          <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 5px">
          <!-- Highlights Post Share Like And More -->
          <div *ngIf="Post.Emotes?.length > 0" class="postchat">
            <div class="emote_grid">
              <ng-container *ngFor="let emote of Post.Emotes | slice:0:Post.Splice_Count; let k=index">
                  <div *ngIf="!emote.Already" class="emote" (click)="Emote_Submit(i, k)" [ngClass]="{'Selected': emote.Already}"> 
                      <div class="emote_div">
                          <p> {{emote.Emote_Text}} </p> &nbsp; | &nbsp; <span> {{emote.Count}} </span> 
                      </div>
                  </div>
                  <div *ngIf="emote.Already" class="emote Selected"> 
                      <div class="emote_div">
                          <p> {{emote.Emote_Text}} </p> &nbsp; | &nbsp; <span> {{emote.Count}} </span> 
                      </div>
                  </div>
              </ng-container>
            </div>
          </div>

          <div *ngIf="Post.Emote_Count > Post.Splice_Count" class="row">
            <div class="col-sm-12">
              <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_More_Emote(i)">  View more... </span></p>
            </div>
          </div>

          <div *ngIf="Post.Emote_Count <= Post.Splice_Count && Post.Emote_Count > 5" class="row">
            <div class="col-sm-12">
              <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_Less_Emote(i)">  View less... </span></p>
            </div>
          </div>
          <!-- Highlights Post Share Like And More  END-->




          <!-- Highlights Post Share Like And More -->
            <div  *ngIf="ActiveComment === i" class="postchat" style="padding: 10px 0px;" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50px" class="text-left">
                <div class="chatUserImg text-center">
                  <img  src="{{UsersBaseUrl}}{{LoginUser.Image}}" alt="">
                </div>
              </div>
              <div fxFlex class="text-center">
                <div class="chatInput">
                  <input #input type="text" placeholder="Post your comment..."> </div>
              </div>
              <div fxFlex="60px" class="text-right">
                <div class="chatsend text-center">
                  <i (click)="SubmitComment(input.value, i); input.value='' " class="material-icons">send</i>
                </div>
              </div>
            </div>
            <!-- Highlights Post Share Like And More  END-->


            <ng-container *ngIf="Loader_2 && ActiveComment === i">
              <div style="width: 100%; height: 120px; text-align: center">
                <img style="height: 60px; margin-top: 30px" src="assets/images/loader.gif" alt="">
              </div>
            </ng-container>

            <!-- Highlights Post Comments-->
            <div *ngIf="ActiveComment === i" class="Comments mt-20">
              <ng-container *ngIf="Post.Comments?.length > 0 && !Loader_2">
                <div *ngFor="let Comment of Post.Comments; let l=index" class="commentPost">
                  <div class="commentinfo">
                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                      <div fxFlex>
                        <div class="leftSide">
                          <div class="" fxLayout="row" fxLayoutAlign="start center">
                            <div fxFlex="45px">
                                <img src="{{UsersBaseUrl}}{{Comment.User_Image}}" alt="" class="postuserImg">
                            </div>
                            <div fxFlex>
                              <p class="postusercategory">
                                <span class="postusername" style="cursor:pointer" > {{ Comment.User_Name }} </span> </p>
                              <p class="postuserfollowers">  {{ Comment.updatedAt | amTimeAgo}} </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxFlex="25%">
                        <div class="rightSide">
                          <div class="" fxLayout="row" fxLayoutAlign="end center">
                            <div class="text-right" fxFlex>
                              <p *ngIf="Comment.User_Id === LoginUser._id" class="postaction"> 
                                <i (click)="Trigger_Comment(l)" [matMenuTriggerFor]="ReportHighlightCommentUser" class="material-icons">more_horiz</i>
                              </p>
                              <p *ngIf="Comment.User_Id !== LoginUser._id" class="postaction"> 
                                <i (click)="Trigger_Comment(l)" [matMenuTriggerFor]="ReportHighlightComment" class="material-icons">more_horiz</i>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="m-0">
                  <div class="commentbody">
                    <p class="commenttext" style="white-space: pre-wrap;"> {{Comment.Comment_Text}} </p>
                  </div>
                </div>

                <div *ngIf="view_all_comment" class="row">
                  <div class="col-sm-12">
                    <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_All_Comments()">  View All... </span></p>
                  </div>
                </div>

                <div *ngIf="view_less_comment" class="row">
                  <div class="col-sm-12">
                    <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_Less_Comments()">  View Less... </span></p>
                  </div>
                </div>

                <br>
              </ng-container>
            </div>
            <!-- Highlights Post Comments END-->


      </div>
    </ng-container>


    <ng-container *ngIf="Loader_3">
      <div style="width: 100%; height: 70px; margin-top:-10px; text-align: center">
        <img style="height: 50px; margin-top: 0px" src="assets/images/loader.gif" alt="">
      </div>
    </ng-container>


    <ng-container *ngIf="Show_Load_More && !Loader_1 && !Loader_3">
      <p class="Load_more"> <span (click)="Load_More_Posts()"> More posts </span> </p>
    </ng-container>

    <ng-container *ngIf="!Show_Load_More && Posts_List?.length > 0">
      <div style="width: 100%; height: 30px;text-align: center;">
        <h5 style="line-height: 20px; font-size:17px;"> No more posts </h5>
      </div>
    </ng-container>


  </ng-scrollbar>
</div>


<mat-menu #ReportHighlightPostUser="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
    <div *ngIf="Trigger_PostInfo && Trigger_PostInfo.Shared_Post !== 'True'" (click)="EditPost_Model()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">border_color</i>
        </div>
        <div fxFlex>
            <p class="dropd_text">Edit </p>
        </div>
    </div>
    <div class="dropdarrow"></div>
    <hr class="m-0">
    <div (click)="Delete_Post()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">delete_forever</i>
        </div>
        <div fxFlex>
            <p class="dropd_text"> Delete </p>
        </div>
    </div>
</mat-menu>


<mat-menu #ReportHighlightPost="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
    <div (click)="Report_Post()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">announcement</i>
        </div>
        <div fxFlex>
            <p class="dropd_text">Report Post </p>
        </div>
    </div>
    <div class="dropdarrow"></div>
    <hr class="m-0">
    <div (click)="Report_User()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">report</i>
        </div>
        <div fxFlex>
            <p class="dropd_text"> Report User </p>
        </div>
    </div>
</mat-menu>



<mat-menu #ReportHighlightComment="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
  <div (click)="Report_Comment()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
      <div  class="dropd_icon" fxFlex="30px">
          <i class="material-icons">announcement</i>
      </div>
      <div fxFlex>
          <p class="dropd_text" style="width: 120px;">Report Comment </p>
      </div>
  </div>
  <div class="dropdarrow"></div>
  <hr class="m-0">
  <div (click)="Report_User()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">report</i>
      </div>
      <div fxFlex>
          <p class="dropd_text"> Report User </p>
      </div>
  </div>
</mat-menu>


<mat-menu #ReportHighlightCommentUser="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
  <div (click)="EditComment_Model()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">border_color</i>
      </div>
      <div fxFlex>
          <p class="dropd_text">Edit </p>
      </div>
  </div>
  <div class="dropdarrow"></div>
  <hr class="m-0">
  <div (click)="Delete_Comment()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">delete_forever</i>
      </div>
      <div fxFlex>
          <p class="dropd_text"> Delete </p>
      </div>
  </div>
</mat-menu>


  <ng-template #VideoModal>
      <p  class="close_Mode"  (click)="modalRef.hide()"> X </p>
          <vg-player>
              <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
            
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            
                  <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
            
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
            
                  <vg-fullscreen></vg-fullscreen>
              </vg-controls>
            
              <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
                  <source src="{{video_Url}}" type="video/{{video_Url | slice:-3}}">
              </video>
           </vg-player>
    </ng-template>