<div class="Highlights" [ngStyle]="{'height': scrollHeight }">
  <ng-scrollbar>

    <div class="HighlightsPost ">
        <!-- Highlights Post Info Header div -->
        <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex>
            <div class="leftSide">
              <div class="" style="height: 50px;" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                  <img  src="assets/images/UserImage.png" alt="" class="postuserImg" >
                </div>
                <div fxFlex>
                  <p class="postusername"> 
                    <span style="cursor:pointer"> User Name </span> 
                  </p>
                  <p class="postusercategory"> Story  &nbsp; | &nbsp; 1 day ago </p>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="35%">
            <div class="rightSide">
              <div class="" fxLayout="row" fxLayoutAlign="end center">
                <div class="text-right" fxFill>
                  <p  class="postaction"> 
                    <i class="material-icons">more_horiz</i>
                  </p>
                  <p class="Selected_Cubes" style="display: flex"> 
                    <img  src="assets/images/UserImage.png" alt="">
                    <img  src="assets/images/UserImage.png" alt=""  >
                    <img  src="assets/images/UserImage.png" alt="" >
                    <img  src="assets/images/UserImage.png" alt=""  >
                    <img  src="assets/images/UserImage.png" alt=""  >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Highlights Post Info Header div End -->
        <hr style="opacity:0.6; margin:0px 5px 5px 5px">
        <!-- Highlights Post -->
        <div class="postmain" fxLayout="row">
          <div fxFlex class="text-center">
            <h5 class="text-left" style="margin: 0px 10px;font-size: 15px;"> Some Text Of This Post </h5>
            <div>
                <div style="text-align:center;padding:10px;">
                    <img style="width: 100%; height: 350px;" src="assets/images/bg.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
        <!-- Highlights Post END -->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
        <!-- Highlights Post Share Like And More -->
        <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex class="text-left" style="height:35px">
            <div class="like">
              <img src="assets/images/icons/1.png" alt="">
              <img src="assets/images/icons/5.png" alt="">
              <img src="assets/images/icons/3.png" alt="">
            </div>
          </div>
          <div fxFlex class="text-right" style="height:35px">
            <div class="share">
              <img src="assets/images/icons/7.png" alt="">
            </div>
          </div>
        </div>
        <!-- HighlightsPost Share Like And More  END-->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
        <!-- Highlights Post Share Like And More -->
        <div class="postchat">
          <div class="emote_grid">
            <div class="emote"> <p> good </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> super </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> like </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> great </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> nice </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> awesome </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> cool </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> very good </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> fantastic </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> more </p> &nbsp; | &nbsp; <span> 10 </span> </div>
          </div>

        </div>
        <!-- Highlights Post Share Like And More  END-->

    </div>

    <div class="HighlightsPost" style="margin-top: 15px">
        <!-- Highlights Post Info Header div -->
        <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex>
            <div class="leftSide">
              <div class="" style="height: 50px;" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                  <img  src="assets/images/UserImage.png" alt="" class="postuserImg" >
                </div>
                <div fxFlex>
                  <p class="postusername"> 
                    <span style="cursor:pointer"> User Name </span> 
                  </p>
                  <p class="postusercategory"> Story  &nbsp; | &nbsp; 1 day ago </p>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="35%">
            <div class="rightSide">
              <div class="" fxLayout="row" fxLayoutAlign="end center">
                <div class="text-right" fxFill>
                  <p  class="postaction"> 
                    <i class="material-icons">more_horiz</i>
                  </p>
                  <p class="Selected_Cubes" style="display: flex"> 
                    <img  src="assets/images/UserImage.png" alt="">
                    <img  src="assets/images/UserImage.png" alt=""  >
                    <img  src="assets/images/UserImage.png" alt="" >
                    <img  src="assets/images/UserImage.png" alt=""  >
                    <img  src="assets/images/UserImage.png" alt=""  >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Highlights Post Info Header div End -->
        <hr style="opacity:0.6; margin:0px 5px 5px 5px">
        <!-- Highlights Post -->
        <div class="postmain" fxLayout="row">
          <div fxFlex class="text-center">
            <h5 class="text-left" style="margin: 0px 10px;font-size: 15px;"> Some Text Of This Post </h5>
            <div>
                <div style="text-align:center;padding:10px;">
                    <img style="width: 100%; height: 350px;" src="assets/images/bg.jpg" alt="">
                </div>
            </div>
          </div>
        </div>
        <!-- Highlights Post END -->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
        <!-- Highlights Post Share Like And More -->
        <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex class="text-left" style="height:35px">
            <div class="like">
              <img src="assets/images/icons/1.png" alt="">
              <img src="assets/images/icons/5.png" alt="">
              <img src="assets/images/icons/3.png" alt="">
            </div>
          </div>
          <div fxFlex class="text-right" style="height:35px">
            <div class="share">
              <img src="assets/images/icons/7.png" alt="">
            </div>
          </div>
        </div>
        <!-- HighlightsPost Share Like And More  END-->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
        <!-- Highlights Post Share Like And More -->
        <div class="postchat">
          <div class="emote_grid">
            <div class="emote"> <p> good </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> super </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> like </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> great </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> nice </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> awesome </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> cool </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> very good </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> fantastic </p> &nbsp; | &nbsp; <span> 10 </span> </div>
            <div class="emote"> <p> more </p> &nbsp; | &nbsp; <span> 10 </span> </div>
          </div>

        </div>
        <!-- Highlights Post Share Like And More  END-->

    </div>

  </ng-scrollbar>
</div>