<div class="Highlights" [ngStyle]="{'height': scrollHeight }">
  <ng-scrollbar>

    <div *ngFor="let Post of Posts_List; let i=index" class="HighlightsPost " style="margin-bottom: 25px">
        <!-- Highlights Post Info Header div -->
        <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex>
            <div class="leftSide">
              <div class="" style="height: 50px;" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                  <img src="{{UsersBaseUrl}}{{Post.User_Image}}" alt="" class="postuserImg" >
                </div>
                <div fxFlex>
                  <p class="postusername"> 
                    <span style="cursor:pointer"> {{Post.User_Name}} </span> 
                  </p>
                  <p class="postusercategory"> {{Post.Post_Category}}  &nbsp; | &nbsp; {{ Post.updatedAt | amTimeAgo}}</p>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="35%">
            <div class="rightSide">
              <div class="" fxLayout="row" fxLayoutAlign="end center">
                <div class="text-right" fxFill>
                  <p *ngIf="Post.User_Id === LoginUser._id" class="postaction"> 
                    <i (click)="Trigger_Post(i)" [matMenuTriggerFor]="ReportHighlightPostUser" class="material-icons">more_horiz</i>
                  </p>
                  <p *ngIf="Post.User_Id !== LoginUser._id" class="postaction"> 
                    <i (click)="Trigger_Post(i)" [matMenuTriggerFor]="ReportHighlightPost" class="material-icons">more_horiz</i>
                  </p>
                  <p class="Selected_Cubes" style="display: flex"> 
                    <img *ngFor="let Cubes of Post.Cubes_Info | slice:0:10; let j=index" src="{{CubeBaseUrl}}{{Cubes.Image}}" alt=""> 
                    <span *ngIf="Post.Cubes_Info?.length > 10" style="font-size: 25px; margin: 0px 10px;line-height: 20px;color: #7f7f7f;"> .... </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Highlights Post Info Header div End -->
        <hr style="opacity:0.6; margin:0px 5px 5px 5px">
        <!-- Highlights Post -->
        <div class="postmain" fxLayout="row" style="padding: 5px 0px;">
          <div fxFlex class="text-center">
            <h5 class="text-left" style="margin: 0px 10px;font-size: 15px;"> {{Post.Post_Text}} </h5>

            <!-- <div>
                <div style="text-align:center;padding:10px;">
                    <img style="width: 100%; height: 350px;" src="assets/images/bg.jpg" alt="">
                </div>
            </div> -->
          </div>
        </div>
        <!-- Highlights Post END -->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 0px">
        <!-- Highlights Post Share Like And More -->
        <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex class="text-left" style="height:35px">
            <div class="like">
              <!-- <img src="assets/images/icons/1.png" alt=""> -->
              <img (click)="Emote_Add(i)" src="assets/images/icons/5.png" alt="">
              <img (click)="Active_CommentChange(i)" src="assets/images/icons/3.png" alt="">
            </div>
          </div>
          <div fxFlex class="text-right" style="height:35px">
            <div class="share">
              <!-- <img src="assets/images/icons/7.png" alt=""> -->
            </div>
          </div>
        </div>
        <!-- HighlightsPost Share Like And More  END-->
        <hr style="margin-bottom:2px !important; opacity:0.8;margin-top: 5px">
        <!-- Highlights Post Share Like And More -->
        <div *ngIf="Post.Emotes?.length > 0" class="postchat">
          <div class="emote_grid">
            <ng-container *ngFor="let emote of Post.Emotes | slice:0:Post.Splice_Count; let k=index">
                <div *ngIf="!emote.Already" class="emote" (click)="Emote_Submit(i, k)" [ngClass]="{'Selected': emote.Already}"> 
                    <div class="emote_div">
                        <p> {{emote.Emote_Text}} </p> &nbsp; | &nbsp; <span> {{emote.Count}} </span> 
                    </div>
                </div>
                <div *ngIf="emote.Already" class="emote Selected"> 
                    <div class="emote_div">
                        <p> {{emote.Emote_Text}} </p> &nbsp; | &nbsp; <span> {{emote.Count}} </span> 
                    </div>
                </div>
            </ng-container>
          </div>
        </div>

        <div *ngIf="Post.Emote_Count > Post.Splice_Count" class="row">
          <div class="col-sm-12">
            <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_More_Emote(i)">  View more... </span></p>
          </div>
        </div>

        <div *ngIf="Post.Emote_Count <= Post.Splice_Count && Post.Emote_Count > 5" class="row">
          <div class="col-sm-12">
            <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_Less_Emote(i)">  View less... </span></p>
          </div>
        </div>
        <!-- Highlights Post Share Like And More  END-->




         <!-- Highlights Post Share Like And More -->
          <div  *ngIf="ActiveComment === i" class="postchat" style="padding: 10px 0px;" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="50px" class="text-left">
              <div class="chatUserImg text-center">
                <img  src="{{UsersBaseUrl}}{{Post.User_Image}}" alt="">
              </div>
            </div>
            <div fxFlex class="text-center">
              <div class="chatInput">
                <input #input type="text" placeholder="Post your comment..."> </div>
            </div>
            <div fxFlex="60px" class="text-right">
              <div class="chatsend text-center">
                <i (click)="SubmitComment(input.value, i); input.value='' " class="material-icons">send</i>
              </div>
            </div>
          </div>
          <!-- Highlights Post Share Like And More  END-->


          <!-- Highlights Post Comments-->
          <div *ngIf="ActiveComment === i" class="Comments mt-20">
            <div *ngFor="let Comment of Post.Comments; let l=index" class="commentPost">
              <div class="commentinfo">
                <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                  <div fxFlex>
                    <div class="leftSide">
                      <div class="" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="45px">
                            <img src="{{UsersBaseUrl}}{{Comment.User_Image}}" alt="" class="postuserImg">
                        </div>
                        <div fxFlex>
                          <p class="postusercategory">
                            <span class="postusername" style="cursor:pointer" > {{ Comment.User_Name }} </span> </p>
                          <p class="postuserfollowers">  {{ Comment.updatedAt | amTimeAgo}} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="25%">
                    <div class="rightSide">
                      <div class="" fxLayout="row" fxLayoutAlign="end center">
                        <div class="text-right" fxFlex>
                          <p *ngIf="Comment.User_Id === LoginUser._id" class="postaction"> 
                            <i (click)="Trigger_Comment(l)" [matMenuTriggerFor]="ReportHighlightCommentUser" class="material-icons">more_horiz</i>
                          </p>
                          <p *ngIf="Comment.User_Id !== LoginUser._id" class="postaction"> 
                            <i (click)="Trigger_Comment(l)" [matMenuTriggerFor]="ReportHighlightComment" class="material-icons">more_horiz</i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="m-0">
              <div class="commentbody">
                <p class="commenttext"> {{Comment.Comment_Text}} </p>
              </div>
            </div>

            <div *ngIf="view_all_comment" class="row">
              <div class="col-sm-12">
                <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_All_Comments()">  View All... </span></p>
              </div>
            </div>

            <div *ngIf="view_less_comment" class="row">
              <div class="col-sm-12">
                <p class="viewAll text-right"> <span style="cursor:pointer" (click)="View_Less_Comments()">  View Less... </span></p>
              </div>
            </div>

            <br>

          </div>
          <!-- Highlights Post Comments END-->


    </div>

  </ng-scrollbar>
</div>


<mat-menu #ReportHighlightPostUser="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
    <div (click)="EditPost_Model()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">border_color</i>
        </div>
        <div fxFlex>
            <p class="dropd_text">Edit </p>
        </div>
    </div>
    <div class="dropdarrow"></div>
    <hr class="m-0">
    <div (click)="Delete_Post()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">delete_forever</i>
        </div>
        <div fxFlex>
            <p class="dropd_text"> Delete </p>
        </div>
    </div>
</mat-menu>


<mat-menu #ReportHighlightPost="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
    <div (click)="Report_Post()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">announcement</i>
        </div>
        <div fxFlex>
            <p class="dropd_text">Report Post </p>
        </div>
    </div>
    <div class="dropdarrow"></div>
    <hr class="m-0">
    <div (click)="Report_User()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
        <div class="dropd_icon" fxFlex="30px">
            <i class="material-icons">report</i>
        </div>
        <div fxFlex>
            <p class="dropd_text"> Report User </p>
        </div>
    </div>
</mat-menu>



<mat-menu #ReportHighlightComment="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
  <div (click)="Report_Comment()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
      <div  class="dropd_icon" fxFlex="30px">
          <i class="material-icons">announcement</i>
      </div>
      <div fxFlex>
          <p class="dropd_text" style="width: 120px;">Report Comment </p>
      </div>
  </div>
  <div class="dropdarrow"></div>
  <hr class="m-0">
  <div (click)="Report_User()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">report</i>
      </div>
      <div fxFlex>
          <p class="dropd_text"> Report User </p>
      </div>
  </div>
</mat-menu>


<mat-menu #ReportHighlightCommentUser="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuReportView" >   
  <div (click)="EditComment_Model()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">border_color</i>
      </div>
      <div fxFlex>
          <p class="dropd_text">Edit </p>
      </div>
  </div>
  <div class="dropdarrow"></div>
  <hr class="m-0">
  <div (click)="Delete_Comment()" style="cursor:pointer" class="dropd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="dropd_icon" fxFlex="30px">
          <i class="material-icons">delete_forever</i>
      </div>
      <div fxFlex>
          <p class="dropd_text"> Delete </p>
      </div>
  </div>
</mat-menu>

